{% extends "site/layout.html" %}
{% block title %}该页无法显示 - 易多云{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h3 class="alert alert-warn">404 错误 <hr />
    你浏览的页面无法浏览或不存在 <br />
    或者你输入的地址不正确</h3>
</div>
{% endblock %}
