{% extends "site/layout.html" %}
{% block title %}服务器错误 - 易多云{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h3 class="alert alert-warn">500 服务器错误 <hr />
   很抱歉，我们的服务器出现了一个错误 <br />
如果你持续遇到该错误，请联系我们的客服</h3>
</div>
{% endblock %}
