{% extends "site/layout.html" %}
{% block title %}购物车 - 易多云{% endblock %}
{% block content %}
  <h3>购物车</h3>
  <hr />
  <div class="row">
    <div class="span8">
      <form method="POST" action="" class="form-horizontal validate-form">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="3">产品</th>
              <th>价格</th>
              <th>优惠</th>
            </tr>
          </thead>
          <tbody>
            {% if products %}
              {% for product in products %}
                <tr>
                  <td>
                    <span class="product" name="{{ product.name }}" product_id="{{ product.product_id }}" type="{{ product.type }}" item_id="{{ product.item_id }}" term="{{ product.term }}">{{ _(product.name) }} {{ _(product.type) }}</span>
                  </td>
                  <td class="term"><select name="{{ product.name }}">
                      {% for price in product.prices %}
                        <option price="{{ price.price }}" discount="{{ price.discount }}" term="{{ price.term }}" value="{{ price.term }}" {% if product.term == price.term %}selected="selected"{% endif %}>{{
                        _(price.term) }}</option>
                      {% endfor %}
                  </select></td>
                  <td class="cart-delete"><span class="btn btn-info">删除</span></td>
                  <td class="price">{{ product.current_price }}</td>
                  <td class="discount">{{ product.current_discount }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr><td colspan="5">购物车无物品</td><tr>
                {% endif %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"><strong>总计</strong></td>
                  <td colspan="2" id="total"></td>
                </tr>
              </tfoot>
            </table>
            {% if products %}
              {% if not g.user %}
                <div class="well">
                  <p style="margin-left:180px">会员注册信息</p>
                  {% if message %}
                    <p class="alert alert-error" style="margin-left:180px;width:170px;">{{ _(message) }}</p>
                  {% endif %}
                  {{ signup_form.csrf_token }}
                  {{ render_form(signup_form.username) }}
                  {{ render_form(signup_form.password) }}
                  {{ render_form(signup_form.confirm) }}
                  <div class="control-group" style="margin-bottom:0">
                    <div class="controls">
                      <p>已经有账号，<a href="https://{{ request.host }}{{ url_for("user.login") }}?next=https://{{ request.host }}{{ url_for("cart") }}">立即登陆</a></p>
                    </div>
                  </div>
                </div>
              {% else %}
              {% if contact_required %}
                <div class="well">
                  <div id="existing-contact">
                    <h4 style="margin-bottom:20px;">域名注册需要联系方式:</h4>
                      <input type="hidden" name="contact_submitted"/>
                    {% if not contacts or new_contact %}
                      <input type="hidden" name="new_contact"/>
                      {{ contact_form.csrf_token }}
                      {{ render_form(contact_form.name) }}
                      {{ render_form(contact_form.company) }}
                      {{ render_form(contact_form.contact_email) }}
                      {{ render_form(contact_form.telephone) }}
                      <div class="control-group">
                        <div class="controls">
                          <select id="country" name="country" style="width:80px;">
                            {% for country in COUNTRY %}
                              <option value="{{ country.cn }}">{{ country.cn }}</option>
                            {% endfor %}
                          </select>
                          <select id="province" class="required" name="province" style="width:110px;">
                            <option value="">-请选择省份-</option>
                            {% for province_item in PROVINCE %}
                              <option value="{{ province_item.cn }}" {% if province_item.cn == province %}selected{% endif %}>{{ province_item.cn }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      {{ render_form(contact_form.address) }}
                      {{ render_form(contact_form.postcode) }}
                    {% else %}
                      {% for contact in contacts %} 
                        <label class="radio">
                          <input type="radio" name="choose_contact" value="{{ contact.id }}" checked>
                          {{ contact.name }} {{ contact.company }} {{ contact.email }} {{ contact.telephone }} {{ contact.country }} {{ contact.province }} {{ contact.city }} {{ contact.address }} {{ contact.postcode }}
                        </label>
                      {% endfor %}
                      <a id="create-contact" href="#">或者添加新地址</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% endif %}
              <label style="display:inline;" class="checkbox">
                {{ signup_form.accept_tos(style="margin: 8px -10px 0 10px;") }}
                {% if signup_form.accept_tos.errors %}
                  {% for error in signup_form.accept_tos.errors %}
                    <span class="help-inline" {% if signup_form.accept_tos.errors %}style="color: #b94a48;"{% endif %}>{{ _(error) }}</span>
                  {% endfor %}
                {% endif %}
                <span>我已阅读并接受<a href="{{ url_for('tos') }}">用户协议</a></span>
              </label>
              <input id="checkout" type="submit" name="checkout" class="btn btn-primary" style="margin-left: 20px;" value="结算" {% if not products %}disabled="disabled"{% endif %} />
            {% endif %}
          </form>
        </div>
        <div class="span4">
          <form method="POST">
            {% if voucher %}
              <input type="submit" name="cancel_voucher" id="cancel_voucher" class="btn btn-primary" value="取消使用该优惠券" />
              <p class="alert alert-info" style="margin-top:8px">已使用优惠券：{{ voucher.name }}</p>
            {% else %}
              <input type="text" name="voucher" id="voucher" value="" style="width: 150px;" />
              <input type="submit" name="update_voucher" id="update_voucher" class="btn btn-primary" value="使用优惠券" style="margin-bottom:8px;" />
              {% if response %}
                <p class="alert alert-error">{{ _(response) }}</p>
              {% endif %}
            {% endif %}
          </form>
          {% if g.user %}
            <div class="well">
              <p>已登陆为 {{ g.user.username }}</p>
              <p>不是此账号，<a href="{{ url_for('user.logout', next=url_for('cart')) }}">点此登出</a></p>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
