{% extends "site/layout.html" %}
{% block title %}联系我们 - 易多云{% endblock %}
{% block contact %}class="active"{% endblock %}
{% block content %}
<h3>联系我们</h3>

<p>
电话:<br />
<i class="icon icon-headphones"></i> 021-61037440
</p>


<p>客服E-mail:<br />
<i class="icon icon-envelope"></i> <a href="mailto:support@eduoyun.com">support@eduoyun.com</a>
</p>

<p>
客服QQ:<br />
<i class="icon icon-user"></i> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2640842721&site=qq&menu=yes">2640842721</a>
</p>

<p>
关注我们:<br />
<i class="icon icon-edit"></i> <a href="http://www.weibo.com/2914576497" target="_blank">新浪微博</a>
</p>

<p>
在线客服:<br />
<i class="icon icon-comment"></i> <a href="javascript:void(0);" onclick="olark('api.box.expand')">请点击右下角在线客服</a>
</p>

<p>
地址:<br />
<i class="icon icon-briefcase"></i> 上海市南京西路1515号静安嘉里中心一座29楼
</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%B8%8A%E6%B5%B7%E9%9D%99%E5%AE%89%E5%98%89%E9%87%8C%E4%B8%AD%E5%BF%83&amp;aq=&amp;sll=31.224305,121.450537&amp;sspn=0.001901,0.004128&amp;brcurrent=3,0x35b27002cd47a7f1:0x57b3bfb932aaf682,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%B8%8A%E6%B5%B7%E9%9D%99%E5%AE%89%E5%98%89%E9%87%8C%E4%B8%AD%E5%BF%83&amp;t=m&amp;ll=31.228693,121.449351&amp;spn=0.012844,0.018239&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%B8%8A%E6%B5%B7%E9%9D%99%E5%AE%89%E5%98%89%E9%87%8C%E4%B8%AD%E5%BF%83&amp;aq=&amp;sll=31.224305,121.450537&amp;sspn=0.001901,0.004128&amp;brcurrent=3,0x35b27002cd47a7f1:0x57b3bfb932aaf682,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E4%B8%8A%E6%B5%B7%E9%9D%99%E5%AE%89%E5%98%89%E9%87%8C%E4%B8%AD%E5%BF%83&amp;t=m&amp;ll=31.228693,121.449351&amp;spn=0.012844,0.018239&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">查看大图</a></small>

{% endblock %}
