{% extends "site/layout.html" %}
{% block title %}常见问题 - 易多云{% endblock %}
{% block faq %}class="active"{% endblock %}
{% block content %}
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
        1. 虚拟主机的架构是什么，支持哪些语言？
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
        流行的LAMP架构，操作系统为CentOS，采用Apache，数据库为MySQL，支持PHP，Python，Perl，Ruby on Rails (RoR)，CGI。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        2. 一键安装网站程序是指什么？
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse" style="height: 0px; ">
      <div class="accordion-inner">
        这是我们提供的一个功能，可以自动安装一些优秀的开源网站，例如Wordpress，Drupal，phpWind，Magento等等，一键安装是指能够自动创建好所需的数据库，设置好配置文件，不需要用户手动操作即可搭建起网站，方便快捷。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        3. 你们的Ruby on Rails (RoR)部署是如何实现的？
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
      <div class="accordion-inner">
        通过Passenger实现，我们可以提供免费的部署支持。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
        4. 你们的CGI程序需要放到特定的文件夹吗，例如cgi-bin？
      </a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
        不需要，你可以放在网站的任何位置，都可以生效。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
        5. 我想把现有的网站搬到你们的虚拟主机，你们可以帮我进行数据迁移吗？
      </a>
    </div>
    <div id="collapse5" class="accordion-body collapse">
      <div class="accordion-inner">
        完全可以，我们帮你迁移之后测试一切正常，你再修改DNS，保证网站一秒也不当机。
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
    6. 需要备案吗？
      </a>
    </div>
    <div id="collapse6" class="accordion-body collapse">
      <div class="accordion-inner">
        不需要，虚拟主机架设在Amazon海外机房，你的网站可以即时上线，无须备案。
      </div>
    </div>
  </div>
</div>
<p>不确定是不是你想要的？</p>
{{ link_to("hosting.trial", "立即免费试用", class="btn", secure=true) }}

{% endblock %}
