{% macro render_form(field, type="horizontal") %}
{% if type == "basic" %}
  {{ field.label }}{{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block alert alert-error">{{ _(error) }}</span>
    {% endfor %}
  {% endif %}
{% elif type == "horizontal" %}
  <div class="control-group {% if field.errors %}error{% endif %}">
    {% if field.type != "BooleanField" %}
      {{ field.label(class_="control-label") }}
    {% endif %}
    <div class="controls">
      {% if field.type == "BooleanField" %}
        <label class="checkbox">
          {{ field(**kwargs)|safe }}
          {% if field.errors %}
            {% for error in field.errors %}
              <span class="help-inline">{{ _(error) }}</span>
            {% endfor %}
          {% endif %}
          {{ field.label.text|safe }}
        </label>
      {% else %}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
          {% for error in field.errors %}
            <span class="help-inline">{{ _(error) }}</span>
          {% endfor %}
        {% endif %}
      {% endif %}
      {% if field.description %}
        <p class="help-block">{{ _(field.description)|safe }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endmacro %}

{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="alert alert-{{ category }}">{{ _(message) }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endmacro %}

{% macro link_to(endpoint, text, secure=None, class=None, external=false) %}
{% if external %}
  {% set url = endpoint %}
{% else %}
  {% if secure == true %}
    {% set url = "https://" ~ request.host ~ url_for(endpoint, **kwargs) %}
  {% elif secure == false %}
    {% set url = "http://" ~ request.host ~ url_for(endpoint, **kwargs) %}
  {% else %}
    {% set url = url_for(endpoint, **kwargs) %}
  {% endif %}
{% endif %}
<a {% if class %}class="{{ class }}"{% endif %} href="{{ url }}">{{ text|safe }}</a>
{% endmacro %}
