{% extends "site/layout.html" %}
{% block index %}class="active"{% endblock %}
{% block title %}虚拟主机,免备案,Ruby on Rails (RoR),Python,PHP,Perl,Wordpress-易多云{% endblock %}
{% block content %}
<div class="hero-unit">
  <div class="row">
    <div class="span6"> 
  <h2>现在订购虚拟主机，立即享有：</h2>
  <p>15天免费体验时间</p>
  <p>99.9%在线时间保证</p>
  <p>一键自动安装博客，论坛，商城，免备案</p>
  <a class="btn btn-info" href="{{ url_for("hosting.index") }}"><i class="icon-white icon-info-sign"></i> 了解详情 »</a>

  <a class="btn btn-primary" href="{{ url_for("hosting.index") }}"> 立即免费试用 »</a>
</div>
  <div class="span4 banner"></div>
</div>
</div>
<div class="row center">
  {% for product in products %}
  <div class="span4">
    <table class="table table-striped table-bordered">
      <thead><tr><th><h3>{{ _(product.name) }}</h3></th></tr></thead>
      <tbody><tr><td>网站空间: {% if product.disk == 0 %}无限制{% else %}{{ product.disk }}G{% endif %}</td></tr>
        <tr><td>月流量： {% if product.bandwidth == 0 %}无限制{% else %}{{ product.bandwidth }}G{% endif %}</td></tr>
        <tr><td>可绑定独立网站数：{% if product.num_websites == 0 %}无限制{% else %}{{ product.num_websites }}个{% endif %}</td></tr>
        <tr><td>支持PHP, Python, Ruby on Rails, Perl</td></tr>
        <tr><td>MySQL数据库：{% if product.num_mysqldbs == 0 %}无限制{% else %}{{ product.num_mysqldbs }}个{% endif %}</td></tr>
        <tr><td>
            <p>{{ product.price }}元/月</p>
            <p><a href="{{ url_for("hosting.index") }}" class="btn btn-primary">了解详情 »</a><p>
        </td></tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
<hr>
<h3>为什么选择我们?</h3>
<div class="row chooseus">
  <div class="span4">
    <span class="icon-support"><h4>专业的技术支持</h4></span>
    <p>我们的技术支持都是从业多年的资深工程师，任何问题能够得到专业的解答。</p>
  </div>
  <div class="span4">
    <span class="icon-uptime"><h4>99.9% 在线时间保证</h4></span>
    <p>主机达到99.9%在线时间，网站稳定能够得以保证。</p>
  </div>
  <div class="span4">
    <span class="icon-instant"><h4>网站及时开通</h4></span>
    <p>设置的网站会及时开通生效，无须人工服务时间。</p>
  </div>
</div>
<br />
<div class="row chooseus">
  <div class="span4">
    <span class="icon-cp"><h4>自主研发控制面板</h4></span>
    <p>控制面板完全自主研发，支持SSH连接。</p>
  </div>
  <div class="span4">
    <span class="icon-oneclick"><h4>一键安装网站</h4></span>
    <p>需要建博客，论坛，网上商城？我们提供一键安装wordpress，phpwind, ecshop等，方便快捷。</p>
  </div>
  <div class="span4">
    <span class="icon-record"><h4>免备案</h4></span>
    <p>海外机房，你的网站能够立刻上线，无须备案。</p>
  </div>
</div>
{% endblock %}
