{% extends "site/layout.html" %}
{% block title %}订单确认 - 易多云{% endblock %}
{% block content %}
<h3>确认订单</h3>
<hr />
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>产品</th>
      <th>时长</th>
      <th>金额</th>
      <td>优惠</td>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ _(item.product) }} {{ _(item.type) }}</td>
      <td>{{ _(item.term) }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.discount }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">总计</td>
      <td colspan="2">{{ total_amount }}</td>
    </tr>
  </tfoot>
</table>
<form method="POST" target="_blank">
  <input style="display:none;" type="text" name="pay" value="" />
  <input type="submit" name="" id="pay" class="btn btn-primary" value="用支付宝购买" />
</form>
<a id="payment" href="#payment_info" style="display:none;" data-toggle="modal"></a>
<div class="modal hide" id="payment_info">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>登陆到支付宝付款</h3>
  </div>
  <div class="modal-header">
    <p>请在新开支付宝页面完成付款后选择:</p>
    <br />
    <p>付款成功：<a href="{{url_for('user.invoices')}}">查看账单</a></p>
    <p>付款失败：<a href="{{url_for('user.invoices_show', invoice_id=invoice_id)}}">重新付款</a></p>
  </div>
  <div class="modal-footer">
  </div>
</div>
{% endblock %}
