{% from "site/helpers.html" import render_form, link_to with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/favicon.ico') }}" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}"><div id="logo"></div></a>
          <ul class="nav nav-pills">
            <li {% block index %}{% endblock %}>{{ link_to("index", "首  页", secure=false) }}</li>
            <li {% block hosting %}{% endblock %}>{{ link_to("hosting.index", "虚拟主机", secure=false) }}</li>
            <li {% block domain %}{% endblock %}>{{ link_to("domain.index", "域 名", secure=true) }}</li>
            <li {% block faq %}{% endblock %}>{{ link_to("http://help.eduoyun.com/", "帮助中心", secure=false, external=True) }}</li>
            <li {% block contact %}{% endblock %}>{{ link_to("contact", "联系我们", secure=false) }}</li>
          </ul>
          {% block user %}
            <ul class="nav nav-pills pull-right">
              <li>{{ link_to("user.index", "会员中心", secure=true) }}</li>
            </ul>
          {% endblock %}
        </div>
      </div>
    </div>
    {% if g.user and g.user.group == 'admin' %}
      <div id="admin-link">
        <a href="https://{{ request.host }}{{ url_for('admin.index') }}">
          <div class="alert alert-success">
            管<br />理<br />中<br />心
          </div>
        </a>
      </div>
    {% endif %}
    <div class="container" style="margin-top: 30px;">
      {% block content %}{% endblock %}
      <hr>
      <footer>
      <p>易多云&copy;2012&nbsp;版权所有</p>
      </footer>
    </div>

    <!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
      window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('6115-295-10-1782');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/6115-295-10-1782/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript><!-- end olark code -->
    {% if g.user %}
      <script type="text/javascript"> olark('api.chat.updateVisitorNickname', { 
        snippet: "{{g.user.username}}" 
        }); 
      </script>
    {% endif %}

  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31931843-1']);
    _gaq.push(['_setDomainName', 'eduoyun.com']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
 </html>
