{% extends "site/layout.html" %}
{% block title %}用户协议 - 易多云{% endblock %}
{% block content %}

<h3>服务协议</h3>

<p>本文中的“我们”代表易多云，“您”代表购买我们服务的客户。“会员”代表购买我们服务的人或组织。“注册人” 代表申请域名注册的个人或团体。“注册局”代表域名的管理部门。“服务器”代表为您提供服务的计算机设备。“网站”代表您在我们的服务器上上传的可以在 Internet访问的内容。“服务条款”指本协议。易多云有权随时对本条款作出修改，自新服务条款在网站上发布起立即生效。</p>

<h4>1.域名注册</h4>
<p>1.1 我们对您要注册的域名成功与否不负任何责任，在我们成功为您注册域名之前，您都不应当认为该域名将被您注册或已经被您注册。</p>
<p>1.2 域名的注册和使用应当遵守相关域名注册局的使用规定，任何由于您违反规定的行为而导致的注册局删除、取消或冻结您的域名，都由您承担责任，易多云不予退还注册费用。</p>
<p>1.3 易多云对域名争议不负任何责任，如果您注册的域名侵犯了他人合法权益，您需和争议人依照相关域名注册局规定，解决争议。</p>
<p>1.4 受系统可用性限制以及部分域名为预留域名不允许注册，易多云不保证您查询到的未被注册的域名可以注册成功，如果因系统原因注册失败，我们会稍后重试，如果因为域名属于预留域名不允许注册，我们会为您退款。</p>

<h4>2.网站托管</h4>
<p>2.1 您应当对您的网站内容存有备份，易多云不对由于您网站的自身问题造成的任何数据丢失负责。</p>
<p>2.2 您不得使用我们的服务器开设非法网站。包括但不限于：</p>
<p>(a).任何非法的、胁迫的、滥用的、恶意的、诽谤的、淫秽的、猥亵的、色情的、亵渎的、反动的或其它易多云认定为不合适的内容；</p>
<p>(b).包含病毒、木马或其它对服务器或对浏览者计算机产生破坏的程序的内容；</p>
<p>(c).任何计划、制定、鼓励犯罪行为的内容，任何不利于商标保护、版权保护、专利保护的内容。</p>
<p>2.3 不允许散布电子邮件广告、垃圾邮件（SPAM）：利用虚拟主机散发大量不受欢迎的或者未经请求的电子邮件、电子广告或包含反动、色情等有害信息的电子邮件；通过散布大量不受欢迎的或者未经请求的电子邮件、电子广告等为其放置于服务器上的网站进行宣传、介绍或者招揽业务。</p>
<p>2.4 易多云保留未经您许可删除下列文件的权利：任何盗版、破解、成人、色情内容和受版权保护的视频音频文件。</p>
<p>2.5 您必须确保您的所有密码的安全，由于密码外泄而导致的任何后果，易多云不负任何责任。</p>
<p>2.6 您必须合理使用服务器资源，遵守“使用限制”的规定，您不应对别的客户的正常使用造成影响。</p>
<p>2.7 易多云严格执行“使用限制”和“服务条款”中的规定，对违反行为易多云将展开调查，在调查期间，我们有权利暂时冻结用户的帐户来防止进一步的未经授权的行为。易多云有权根据具体违反规定的程度，对用户帐户采取冻结、暂停、删除行为，易多云对最终采取的行为在法律允许范围内保留最终解释权。但在采取这些行动前，易多云有义务对用户数据采取保全操作，以防止数据丢失。</p>
<p>2.8 任何在易多云服务器上产生的违法行为都会导致帐户被冻结、暂停、删除，易多云对最终采取的行为在法律允许范围内保留最终解释权。易多云保留向执法机关报告的权利。</p>
<p>2.9 您一旦在易多云服务器上进行违法操作，易多云对您的隐私权保护立即失效，您的任何资料我们都有权提供给执法机关进行调查。</p>
<h4>3.付款</h4>
<p>3.1 用户必须按时付款，易多云保留随时关闭未付款帐户的权利。</p>
<p>3.2 如需取消服务，请至少在账单到期日3日前通知我们；对于部分有额外要求的服务，必须按相关规定，提前规定的天数通知我们您即将取消服务。</p>
<h4>4.终止服务</h4>
<p>4.1 如果您没有按时支付费用超过7天，您的帐户将被暂停。</p>
<p>4.2 账单逾期超过15天未付款，您的账户将被彻底删除，由此产生的数据丢失易多云不负任何责任。</p>
<p>4.3 如果您违反了易多云规定，易多云有权终止服务。</p>
<p>4.4 对于违反易多云规定的用户，将无法获得退款。</p>

{% endblock %}
