{% extends "user/layout.html" %}
{% block title %}域名管理 - 易多云{% endblock %}
{% block user_domain_id_contact %}active{% endblock %}

{% block breadcrumb %}
<span class="divider">/</span>
<li>{{ link_to('user.domain.index', "域名管理") }}</li> 
<span class="divider">/</span>
<li>{{ link_to('user.domain.show', domain.name ~ '.' ~ domain.tld, domain_id=domain.id) }}</li> 
<span class="divider">/</span>
<li class="active"> 联系方式设置</li> 
{% endblock %}

{% block user_content %}
<h4>{{domain.name}}.{{domain.tld}}</h4>
{% if message %}
<p class="alert alert-{{message.severity}}">{{message.msg}}</p>
{% endif %}
<form method="POST">
<p><input type="submit" name="change-contact" class="btn btn-primary" value="修改域名联系人" /></p>
<p>注册联系人</p>
<select name="reg-contact" class="span9">
  {% for contact in contacts %}
  <option value="{{contact.id}}" {% if contact.id==domain.reg_contact %}selected{% endif %}>{{ contact.name }} {{ contact.company }} {{ contact.email }} {{ contact.telephone }} {{ contact.country }} {{ contact.province }} {{ contact.city }} {{ contact.address }} {{ contact.postcode }}</option>
  {% endfor %}
</select>

<p>管理联系人</p>
<select name="admin-contact" class="span9">
  {% for contact in contacts %}
  <option value="{{contact.id}}" {% if contact.id==domain.admin_contact %}selected{% endif %}>{{ contact.name }} {{ contact.company }} {{ contact.email }} {{ contact.telephone }} {{ contact.country }} {{ contact.province }} {{ contact.city }} {{ contact.address }} {{ contact.postcode }}</option>
  {% endfor %}
</select>

<p>技术联系人</p>
<select name="tech-contact" class="span9">
  {% for contact in contacts %}
  <option value="{{contact.id}}" {% if contact.id==domain.tech_contact %}selected{% endif %}>{{ contact.name }} {{ contact.company }} {{ contact.email }} {{ contact.telephone }} {{ contact.country }} {{ contact.province }} {{ contact.city }} {{ contact.address }} {{ contact.postcode }}</option>
  {% endfor %}
</select>

<p>付款联系人</p>
<select name="billing-contact" class="span9">
  {% for contact in contacts %}
  <option value="{{contact.id}}" {% if contact.id==domain.billing_contact %}selected{% endif %}>{{ contact.name }} {{ contact.company }} {{ contact.email }} {{ contact.telephone }} {{ contact.country }} {{ contact.province }} {{ contact.city }} {{ contact.address }} {{ contact.postcode }}</option>
  {% endfor %}
</select>
</form>

<p><button type="button" id="user-domain-create-contact" class="btn">添加新联系人</button></p>

<form method="POST" id="user-domain-create-contact-form" class="form-horizontal validate-form well" {% if not create_contact %}style="display:none;"{% endif %}>
    {{ form.csrf_token }}
    {{ render_form(form.name) }}
    {{ render_form(form.company) }}
    {{ render_form(form.contact_email) }}
    {{ render_form(form.telephone) }}
  <div class="control-group">
    <div class="controls">
      <select id="country" name="country" style="width:80px;">
        {% for country in COUNTRY %}
        <option value="{{ country.cn }}">{{ country.cn }}</option>
        {% endfor %}
      </select>
      <select id="province" class="required" name="province" style="width:110px;">
        <option value="">-请选择省份-</option>
        {% for province_item in PROVINCE %}
        <option value="{{ province_item.cn }}" {% if province_item.cn == province %}selected{% endif %}>{{ province_item.cn }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
    {{ render_form(form.address) }}
    {{ render_form(form.postcode) }}
  <div class="control-group" style="margin-bottom:0">
    <div class="controls">
      <button type="submit" name="confirm-create-contact" class="btn btn-success">确认</button>
      <button type="button" id="user-domain-cancel-create-contact" class="btn btn-danger">取消</button>
    </div> 
  </div>
</form>

{% endblock %}
