{% extends "user/layout.html" %}
{% block title %}域名管理 - 易多云{% endblock %}
{% block user_domain_id_dns %}active{% endblock %}

{% block breadcrumb %}
<span class="divider">/</span>
<li><a href="{{url_for('user.domain.index')}}">域名管理</a></li> 
<span class="divider">/</span>
<li><a href="{{url_for('user.domain.show', domain_id=domain.id)}}">{{domain.name}}.{{domain.tld}}</a></li> 
<span class="divider">/</span>
<li class="active">域名解析(DNS)设置</li> 
{% endblock %}

{% block user_content %}
<h4>{{domain.name}}.{{domain.tld}}</h4>
<p>
<button id="add-dns-record" class="btn btn-primary">添加记录</button>
<button id="delete-selected-dns-record" class="btn btn-danger">删除选中记录</button>
</p>
<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <th><input class="select_all" type="checkbox"></th>
      <th>主机记录</th>
      <th>记录类型</th>					
      <th>记录值</th>
      <th>MX优先级</th>
      <th>TTL</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for record in dns %}
    <tr>
      <td><input name="record_ids" class="record-id" value="{{record.id}}" type="checkbox"></td>
      <td><input style="width: 60px;" class="hostname" type="text" value="{{record.hostname}}" /></td>
      <td>
        <select style="width: 83px;" class="type" name="type">
          <option {% if record.type == "A" %}selected{% endif %} value="A">A</option>
          <option {% if record.type == "CNAME" %}selected{% endif %} value="CNAME">CNAME</option>
          <option {% if record.type == "MX" %}selected{% endif %} value="MX">MX</option>
          <option {% if record.type == "TXT" %}selected{% endif %} value="TXT">TXT</option>
          <option {% if record.type == "NS" %}selected{% endif %} value="NS">NS</option>
          <option {% if record.type == "AAAA" %}selected{% endif %} value="AAAA">AAAA</option>
          <option {% if record.type == "SRV" %}selected{% endif %} value="SRV">SRV</option>
        </select>
      </td>
      <td><input style="width: 160px;" type="text" class="content" value="{{record.content}}" /></td>
      <td><input style="width: 30px;" type="text" class="priority" name="priority" value="{{record.priority}}" {% if record.type != 'MX' %}disabled{% endif %} /></td>
      <td><input style="width: 45px;" type="text" class="ttl" value="{{record.ttl}}" /></td>
      <td>
        <button style="margin-right: 2px;" class="btn btn-small change-dns-record">修改</button>
        <button class="btn btn-danger btn-small delete-dns-record">删除</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table style="display:none" >
    <tr id="dns-record-template">
      <td><input name="record_ids" class="record-id" type="checkbox" value="new"></td>
      <td><input style="width: 60px;" type="text" class="hostname" name="hostname" /></td>
      <td>
        <select style="width: 83px;" class="type" name="type">
          <option value="A">A</option>
          <option value="CNAME">CNAME</option>
          <option value="MX">MX</option>
          <option value="TXT">TXT</option>
          <option value="NS">NS</option>
          <option value="AAAA">AAAA</option>
          <option value="SRV">SRV</option>
        </select>
      </td>
      <td><input style="width: 160px;" type="text" class="content" name="content" /></td>
      <td><input style="width: 30px;" type="text" class="priority" name="priority" disabled /></td>
      <td><input style="width: 45px;" type="text" class="ttl" name="ttl" value="14400" /></td>
      <td class="action">
        <button style="margin-right: 2px;" class="btn btn-small btn-success save-add-dns-record">保存</button>
        <button class="btn btn-danger btn-small cancel-dns-record">取消</button>
      </td>
    </tr>
  </table>
{% endblock %}
