{% extends "user/layout.html" %}

{% block title %}域名管理 - 易多云{% endblock %}
{% block user_domain_active %}class="active"{% endblock %}

{% block breadcrumb %}
<span class="divider">/</span>
<li class="active">域名管理</li> 
{% endblock %}

{% block user_content %}

<p>
<a class="btn btn-primary" id="domain-renew-selected" href="https://{{ request.host }}/cart">续费选中域名</a>
</p>
<div class="user-domain">
  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>域名</th>
        <th>状态</th>
        <th>到期时间</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for domain in domains %}
      <tr data-domain-id="{{domain.id}}" data-domain="{{domain.name}}.{{domain.tld}}" data-tld-id="{{domain.tld_id}}">
        <td><input class="domain-id" name="domains_ids" value="{{domain.id}}" type="checkbox"></td>
        <td><a href="{{ url_for('user.domain.show', domain_id=domain.id)}}">{{domain.name}}.{{domain.tld}}</a></td>
        <td>{% if domain.status == 'active' %}正常{% endif %}</td>
        <td>{{ domain.expires_at }}</td>
        <td>
          <a class="btn domain-renew" href="https://{{ request.host }}/cart">续费</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
