{% extends "user/layout.html" %}
{% block title %}域名管理 - 易多云{% endblock %}
{% block user_domain_id_ns %}active{% endblock %}

{% block breadcrumb %}
<span class="divider">/</span>
<li><a href="{{url_for('user.domain.index')}}">域名管理</a></li> 
<span class="divider">/</span>
<li><a href="{{url_for('user.domain.show', domain_id=domain.id)}}">{{domain.name}}.{{domain.tld}}</a></li> 
<span class="divider">/</span>
<li class="active">域名服务器(NS)设置</li> 
{% endblock %}

{% block user_content %}
<h4>{{domain.name}}.{{domain.tld}}</h4>
<hr />
<p>域名服务器</p>
<blockquote style="margin-top:10px;">设置该域名的绑定域名服务器</blockquote>

{% if resp %}
{% if resp.status == 'Success' %}
<p class="alert alert-success">域名服务器更新成功</p>
{% else %}
<p class="alert alert-error">域名服务器更新失败</p>
{% endif %}
{% endif %}

{% if ns != default_ns %}
<form class="form-horizontal" method="POST">
    <button type="submit" name="reset-ns" id="reset-ns" class="btn btn-success">恢复默认</button>
</form>
{% endif %}

<form id="form-ns" class="form-horizontal" method="POST">
  <div class="form-actions">
    <button type="button" id="add-ns" class="btn">添加域名服务器</button>
    <button type="submit" name="update-ns" id="update-ns" class="btn btn-info">保存修改</button>
  </div>
  <div class="form-body">
    {% for ns_name in ns %}
    <div class="control-group">
      <label class="control-label">域名服务器: </label>
      <div class="controls">
        <input name="ns" type="text" value="{{ns_name}}" />
      </div>
    </div>
    {% endfor %}
  </div>
</form>

<hr />
<p>子域名服务器</p>
<blockquote style="margin-top:10px;">管理该域名下的子域名服务器</blockquote>
<p><button type="button" class="btn btn-primary" id="add-glue">添加子域名服务器</button></p>
<table class="table table-striped table-bordered" id="glue-table">
  <thead>
    <tr>
      <th><input class="select_all" type="checkbox"></th>
      <th>域名服务器名称</th>
      <th>域名服务器IP地址</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for glue_record in glue %}
    <tr>
      <td><input name="glue_ids" class="glue-id" value="{{glue_record.id}}" type="checkbox"></td>
      <td><input style="width: 120px;" type="text" class="hostname" name="hostname" value="{{glue_record.hostname}}" /></td>
      <td><input style="width: 180px;" type="text" class="ip" name="ip" value="{{glue_record.ip}}" /></td>
      <td><button style="margin-right: 2px;" class="btn btn-small change-glue">修改</button> <button class="btn btn-danger btn-small delete-glue">删除</button></td>
      <tr>
    {% endfor %}
  </tbody>
</table>

<table style="display:none" >
  <tr id="glue-template">
    <td><input name="glue_ids" class="glue-id" type="checkbox" value="new"></td>
    <td><input style="width: 120px;" type="text" class="hostname" name="hostname" /></td>
    <td><input style="width: 180px;" type="text" class="ip" name="ip" /></td>
    <td class="action">
      <button style="margin-right: 2px;" class="btn btn-small btn-success save-add-glue">保存</button>
      <button class="btn btn-danger btn-small cancel-add-glue">取消</button>
    </td>
  </tr>
</table>

{% endblock %}
