{% extends "user/layout.html" %}
{% block title %}域名管理 - 易多云{% endblock %}
{% block user_domain_id %}active{% endblock %}

{% block breadcrumb %}
<span class="divider">/</span>
<li><a href="{{ url_for('user.domain.index') }}">域名管理</a></li> 
<span class="divider">/</span>
<li class="active">{{domain.name}}.{{domain.tld}}</li> 
{% endblock %}

{% block user_content %}

<h4>{{domain.name}}.{{domain.tld}}<span style="font-size:14px;" class="pull-right">选择管理的域名</span></h4>

<div class="row">
<div class="span6">
<div class="alert alert-success">到期时间: {{domain.expires_at}}</div>
<div class="well well-small well-trans"><i class="icon-search"></i> <a href="{{url_for('user.domain.dns', domain_id=domain.id)}}">域名解析(DNS)设置</a></div>
<div class="well well-small well-trans"><i class="icon-hdd"></i> <a href="{{url_for('user.domain.ns', domain_id=domain.id)}}">域名服务器(NS)设置</a></div>
<div class="well well-small well-trans"><i class="icon-map-marker"></i> <a href="{{url_for('user.domain.contact', domain_id=domain.id)}}">联系方式设置</a></div>
<!--<div class="well well-small well-trans"><i class="icon-lock"></i> <a>域名隐私设置</a></div>-->
<div class="well well-small well-trans"><i class="icon-info-sign"></i> <a data-toggle="modal" href="#modal-show-auth-code">域名转出密码</a></div>
</div>
<div class="span3">
  <input id="domain-search-typed" data-domains="{{domains_list}}" type="text" />
  <select id="domain-select" size="10">
    {% for domain in domains %}
    <option value="{{domain.id}}">
      {{domain.name}}.{{domain.tld}} 
    </option>
    {% endfor %}
  </select>
  <a id="domain-select-link" class="btn" href="{{url_for('user.domain.show', domain_id=domain.id)}}">管理域名</a>
</div>
</div>
<div class="modal hide" id="modal-show-auth-code">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>域名转出密码</h3>
  </div>
  <form class="form-horizontal">
    <fieldset>
      <div class="controls">
        <p>{{domain.auth_code}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">返 回</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
