body {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
}

h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}

.navbar .brand #logo {
  background: url('../img/logo/logo.png') no-repeat;
  width: 155px;
  height: 86px;
}

.navbar .nav {
  #font-size: 14px;
  left: 20px;
  top: 27px;
}

.navbar .nav li a {
  padding:15px;
}

.navbar .nav .dropdown-menu a {
  padding: 3px 15px;
  cursor: pointer;
}

.well-trans {
  background-color: #FFF;
  margin-bottom: 10px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.center table td,
.center table th{
  text-align: center;
  padding: 10px 0;
}

.center table h3 {
  margin: 0;
}

.banner{
  margin-top: 20px;
  width: 300px;
  height: 146px;
  background: url(../img/banner.png) no-repeat;
}

.center p {
  margin-top: 5px;
}

.chooseus p {
  margin-top: 10px;
}

.chooseus h4 {
  vertical-align: middle;
  line-height: 43px;
  padding:0 0 0 40px;
  margin: 0;
}

.nav-stacked .indent a {
  padding-left: 37px;
}

.table_title {
  margin: 20px 0 10px 0;
}

.table select {
  margin-bottom: 0;
  width: 120px;
}

.user-hosting table td:first-child,
.user-hosting table th:first-child{
  width: 15px;
}

.user-domain table td:first-child,
.user-domain table th:first-child{
  width: 15px;
}

.table td,
.table th{
  vertical-align: middle;
}

.user-hosting table td:last-child,
.user-hosting table th:last-child{
  width: 160px;
}

.modal .form-horizontal {
  margin-top: 20px;
  margin-bottom: 0px;
}

.modal .form-actions {
  padding-bottom: 0;
}

.modal .help-block {
  #width: 300px;
}

.modal .form-horizontal .modal-footer {
  text-align: left;
  padding-left: 160px;
}

.validate-form .error {
  color: #B94A48;
  #padding-left: 8px;
  vertical-align: middle;
}

.validate-form input.error {
  border-color: #953B39;
  -webkit-box-shadow: 0 0 6px #D59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #D59392;
}

#terms_and_conditions span {
  display: block;
}

#admin-link {
  position: fixed;
  top: 130px;
  left: -6px;
}

#admin-link a {
  display: block;
  padding: 5px 0 5px 5px;
}

#admin-link a:hover{
  text-decoration: none;
}

#admin-link a div {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
}

.icon-tick {
  background: url(../img/tick.png) no-repeat;
  width: 16px;
  height: 14px;
}

.icon-support {
  background: url(../img/support.png) no-repeat;
  width: 300px;
  height: 43px;
}

.icon-uptime {
  background: url(../img/uptime.png) no-repeat;
  width: 300px;
  height: 43px;
}

.icon-instant {
  background: url(../img/instant.png) no-repeat;
  width: 300px;
  height: 43px;
}

.icon-cp {
  background: url(../img/cp.png) no-repeat;
  width: 300px;
  height: 43px;
}

.icon-oneclick{
  background: url(../img/oneclick.png) no-repeat;
  width: 300px;
  height: 43px;
}

.icon-record {
  background: url(../img/record.png) no-repeat;
  width: 300px;
  height: 43px;
}

#.form-horizontal .alert {
#  margin-left: 160px;
#  width: 170px;
#}

table input[type="text"] {
  margin-bottom: 0;
}

table input[type="checkbox"] {
  margin: 0;
}

#.navbar-inner {
#  -webkit-border-radius: 4px;
#     -moz-border-radius: 4px;
#          border-radius: 4px;
#  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
#     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
#          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
#  min-height: 40px;
#  padding-right: 20px;
#  padding-left: 20px;
#  background: url('../img/background.png') repeat;
#  min-width: 940px;
#}

#.navbar .nav.pull-right {
#  margin-right: 20px;
#}
#
#.navbar .divider-vertical {
#  background-color: #E5E5E5;
#  border-right: 1px solid #FFFFFF;
#  margin: 0px;
#}
