{% extends "site/layout.html" %}
{% block title %}虚拟主机, Wordpress, phpWind, Discuz, dedecms, phpcms, RoR - 易多云{% endblock %}
{% block hosting %}class="active"{% endblock %}
{% block content %}
<div class="row center">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          {% for product in products %}
          <th><h3>{{ _(product.name) }}</h3></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>价格/月付</td>
          {% for product in products %}
          <td>{{ product.price }}<br />
              <a name="{{ product.name }}" product_id="{{ product.id }}" class="order btn btn-primary" href="https://{{ request.host }}{{ url_for('cart') }}">现在订购</a>
            {% if product.name == 'basic hosting' %}
            <a product_id="{{ product.id }}" class="btn btn-info" href="https://{{ request.host }}{{ url_for('hosting.trial') }}">免费试用</a>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>网站空间</td>
          {% for product in products %}
          <td>{% if product.disk == 0 %}无限制{% else %}{{ product.disk }}G{% endif %}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>每月流量</td>
          {% for product in products %}
          <td>{% if product.bandwidth == 0 %}无限制{% else %}{{ product.bandwidth }}G{%
            endif %}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>可绑定独立网站</td>
          {% for product in products %}
          <td>{% if product.num_websites == 0 %}无限制{% else %}{{ product.num_websites }}个{%
            endif %}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>MySQL数据库</td>
          {% for product in products %}
          <td>{% if product.num_mysqldbs == 0 %}无限制{% else %}{{ product.num_mysqldbs }}个{%
            endif %}</td>
          {% endfor %}
        </tr>
        <tr>
          <td><strong>支持语言</strong></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>PHP</td>
          {% for i in range(3) %}
          <td><i class="icon-tick"></i></td>
          {% endfor %}
        </tr>
        <tr>
          <td>Perl</td>
          {% for i in range(3) %}
          <td><i class="icon-tick"></i></td>
          {% endfor %}
        </tr>
        <tr>
          <td>Python</td>
          {% for i in range(3) %}
          <td><i class="icon-tick"></i></td>
          {% endfor %}
        </tr>
        <tr>
          <td>Ruby on Rails</td>
          {% for i in range(3) %}
          <td><i class="icon-tick"></i></td>
          {% endfor %}
        </tr>
        <tr>
          <td><strong>网站程序</strong></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% for apptype in apptypes %}
        <tr>
          <td>{{ apptype.name }}</td>
          {% for i in range(3) %}
          <td><i class="icon-tick"></i></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
