{% from "site/helpers.html" import render_form %}
{% extends "site/layout.html" %}
{% block title %}虚拟主机试用 - 易多云{% endblock %}
{% block content %}
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8"><h3>申请试用基础虚拟主机</h3></div>
</div>
{% if used %}
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8"><p>对不起，您不能再次申请免费试用</p></div>
</div>
{% elif g.user %}
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <p>欢迎你，{{ g.user.username }}：</p>
    <p>新用户可以获得免费使用基础虚拟主机15天的机会。</p>
    <form method="POST" action="" >
      <input class="btn btn-primary" type="submit" value="同意用户协议并申请" name="apply" />
    </form>
  </div>
</div>
{% else %}
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <p>新用户可以获得免费使用基础虚拟主机15天的机会。</p>
    <p>请填写会员注册信息，如果已经注册过，<a href="{{ url_for("user.login", next="https://" ~ request.host ~ url_for("hosting.trial")) }}">请登陆。</a></p>
  </div>
</div>
<hr />
<div class="row">
  <div class="span8">
    <form method="post" action="" class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <h3>会员信息</h3>          
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <p class="alert alert-{{ category }}">{{ _(message) }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
        </div>
        {{ form.csrf_token }}
        {{ render_form(form.username) }}
        {{ render_form(form.password) }}
        {{ render_form(form.confirm) }}
        <div class="control-group {% if form.accept_tos.errors %}error{% endif %}">
          <div class="controls">
            <label class="checkbox">
              {{ form.accept_tos }}
              {% if form.accept_tos.errors %}
              {% for error in form.accept_tos.errors %}
              <span class="help-inline">{{ _(error) }}</span>
              {% endfor %}
              {% endif %}
              同意遵守<a href="{{ url_for('tos') }}">用户协议</a> 
            </label>
          </div>
        </div>
        <div class="form-actions">
          <input class="btn btn-success" type="submit" value="注册会员并申请试用" name="signup" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
