{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}FTP账户信息 - 易多云{% endblock %}
{% block user_hosting_ftp_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
  <li>
  <a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
  </li>
<span class="divider">/</span>
  <li>
  <a href="https://{{ request.host }}/user/hosting/ftpusers">FTP账户</a> 
  </li>
<span class="divider">/</span>
  <li class="active">{{ ftpuser.username }} </li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">FTP账户信息</h3>
{% if ftpuser.admin %}
<p>管理员FTP账户可以管理全部网站。</p>
{% else %}
<p>这里你可以设置普通FTP账户的网站控制权，添加或者删除可以管理的网站</p>
{% endif %}
<hr>
<strong><p>用户名</p></strong>
{{ ftpuser.username }}
<a data-toggle="modal" href="#modal-change-password" class="btn btn-primary">修改密码</a>
<div class="modal hide" id="modal-change-password"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>修改FTP密码</h3>
  </div>
    <form class="form-horizontal validate-form" method="POST">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="ftppassword">FTP密码: </label>
          <div class="controls">
            <input class="span3" type="password" name="ftppassword" id="ftppassword">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="ftppassword_confirm">确认密码: </label>
          <div class="controls">
            <input class="span3" type="password" name="ftppassword_confirm" id="ftppassword_confirm">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="change_password" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </form>
</div>
<hr>
<strong><p>账户类型</p></strong>
{% if ftpuser.admin %}
管理员账户
{% else %}
普通账户
<hr>
<strong><p>添加该FTP账户所管理网站</p></strong>
  <form class="user-hosting" method="POST">
<p><button class="btn" type="submit" name="add_selected" >添加选定</button></p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input class="select_all" type="checkbox"></th>
          <th>网站</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
    {% for unmanaged_website in unmanaged_websites %}
        <tr>
          <td><input name="website_ids" value="{{ unmanaged_website.id }}" type="checkbox"></td>
        <td><a href="https://{{ request.host }}/user/hosting/websites/{{ unmanaged_website.id}}">{{ unmanaged_website.name }}</a></td>
        <td><button class="btn" type="submit" name="create_membership" value="{{ unmanaged_website.id }}">添加管理该网站</button></td>
          </tr>
{% endfor %}
      </tbody>
    </table>
    </form>
<hr>
<strong><p>该FTP账户所管理网站</p></strong>
  <form class="user-hosting" method="POST">
<p><button class="btn btn-danger" type="submit" name="delete_selected" >删除选定</button></p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input class="select_all" type="checkbox"></th>
          <th>网站</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
    {% for managed_website in managed_websites %}
        <tr>
          <td><input name="website_ids" value="{{ managed_website.id }}" type="checkbox"></td>
          <td><a href="https://{{ request.host }}/user/hosting/websites/{{ managed_website.id}}">{{ managed_website.name }}</a></td>
        <td><button type="submit" name="delete_membership" value="{{ managed_website.id }}" class="btn btn-danger">取消管理该网站</button></td>
          </tr>
{% endfor %}
      </tbody>
    </table>
    </form>
{% endif %}
{% endblock %}
