{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}FTP账户 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_ftp_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
  <li>
  <a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
  </li>
<span class="divider">/</span>
  <li class="active">FTP账户</li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">FTP账户</h3>
<p>这里是你的FTP账户列表，你可以创建，删除FTP账户</p>
<p>你可以选择创建两种FTP账户类型:</p>
    <blockquote style="margin-top:10px;">管理员FTP账户，默认管理你的所有网站，<br />
      <br />
普通FTP账户，需要手动分配可以管理的网站，这样你就可以使用不同的FTP账户管理不同的网站。
</blockquote>

<p class="alert alert-info">FTP服务器IP地址为：23.27.192.69</p>
<hr />
<p><a class="btn btn-success" data-toggle="modal" href="#myModal" >创建新FTP账户</a>
<a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选定</a></p>
  <div class="modal hide" id="myModal"> 
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>创建新FTP账户</h3>
    </div>
    <form class="form-horizontal validate-form" action="" method="POST">
        <div class="control-group">
          <label class="control-label" for="ftpusername">FTP用户名: </label>
          <div class="controls">
            <input class="span3" type="text" name="ftpusername" id="ftpusername">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="ftppassword">FTP密码: </label>
          <div class="controls">
            <input class="span3" type="password" name="ftppassword" id="ftppassword">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="ftppassword_confirm">确认密码: </label>
          <div class="controls">
            <input class="span3" type="password" name="ftppassword_confirm" id="ftppassword_confirm">
          </div>
        </div>
        <div class="control-group">
            <label class="control-label">账户类型</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="account_type" id="optionsRadios1" value="admin" checked="">
                管理员账户 - 默认管理所有网站 </label>
              <label class="radio">
                <input type="radio" name="account_type" id="optionsRadios2" value="normal">
                普通账户 - 可以设置所能管理的网站              </label>
            </div>
          </div>
        <div class="modal-footer">
          <button type="submit" name="create" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
    </form>
  </div>
  <form class="user-hosting form-horizontal" method="POST">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input class="select_all" type="checkbox"></th>
          <th>FTP账户</th>
          <th>权限</th>
          <th>状态</th>
          <th>管理</th>
        </tr>
      </thead>
      <tboby>
      {% for ftpuser in ftpusers %}
      <tr>
        <td><input name="ftpuser_ids" value="{{ ftpuser.id }}" type="checkbox"></td>
        <td><a href="https://{{ request.host }}/user/hosting/ftpusers/{{ ftpuser.id }}">{{ ftpuser.username }}</a></td>
        <td>{% if ftpuser.admin %}管理员账户{% else %}普通账户{% endif %}</td>
        <td>{{ _(ftpuser.status) }}</td>
        <td>
          <div class="btn-group">
            <a class="btn" href="https://{{ request.host }}/user/hosting/ftpusers/{{ ftpuser.id }}">查看</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
<li><a href="https://{{ request.host }}/user/hosting/ftpusers/{{ ftpuser.id }}" >修改密码</a></li>
{% if not ftpuser.admin %}
<li><a href="https://{{ request.host }}/user/hosting/ftpusers/{{ ftpuser.id }}" >设置控制网站</a></li>
 {% endif %}
             <li><a data-toggle="modal" href="#modal_delete_{{ ftpuser.id }}">删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
      </tboby>
    </table>
<div class="modal hide" id="modal_delete_selected"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
  <div class="modal-body">
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">确认删除?</p>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
    <button class="btn" data-dismiss="modal">取 消</button>
  </div>
</div>
  </form>


  {% for ftpuser in ftpusers %}
<div class="modal hide" id="modal_delete_{{ ftpuser.id }}">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
  <form class="form-horizontal" action="" method="POST">
<div class="control-group">
        <div class="controls">
        <span class="label label-important">警告: </span>
      <p class="help-block">确认删除?</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete" value="{{ ftpuser.id }}" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
  </form>
</div>
  {% endfor %}
  
  
  {% endblock %}
