{% extends "user/layout.html" %}
{% block title %}云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_active %}class="active"{% endblock %}
{% block breadcrumb %}
  <span class="divider">/</span>
  <li class="active">虚拟主机</li> 
{% endblock %}
{% block user_content %}
  {% if hostings|length == 0 %}
    <p>您还没有购买虚拟主机，<a href="{{ url_for("hosting.index") }}">立即购买。</a></p>
  {% else %}
    {% if hostings|length > 1 %}
      <form id="hosting" method="POST">
        <span>您购买了多个虚拟主机，请选择您需要管理的：</span>
        <select name="hosting" id="">
          {% for hosting_item in hostings %}
            <option value="{{ hosting_item.id }}" {% if hosting_item.id == hosting.id %}selected="selected"
            {% endif %}>{{ _(hosting_item.product) }}</option>
          {% endfor %}
        </select>
      </form>
      <hr />
    {% endif %}
    {% if hosting.status == 'pending_create' %}
      <p class="alert alert-warn">你好，你的虚拟主机正在创建中，如果等待超过10分钟还没有创建好，请联系客服。</p>
    {% else %}
      {% if hosting.status == 'suspended' %}
        <p class="alert alert-error">你好，你的虚拟主机已经超过7天没有续费，现在已暂停服务，请立刻续费，过期超过15天后，所有网站内容和数据库都会被永久删除。</p>
      {% endif %}
      <div class="row">
        <div class="span6">
          <p>你目前的虚拟主机类型是：{{ _(hosting.product) }}
          </p>
          <p>到期时间: {{ hosting.expires_at }}</p>
          <p>
          <a href="{{ url_for("cart") }}" id="hosting-renew" class="btn btn-primary" data-hosting-id="{{ hosting.id }}" data-hosting-product-id="{{ hosting.product_id }}" data-hosting-product-name="{{ hosting.product }}">现在续费</a>
          </p>
          {% if hosting.status == 'active' %}
            {% if usage.expires_in < 1 %}
              <p class="alert alert-error">你好，你的虚拟主机已过期，需要立即续费，如果不续费的话，7天后会暂停服务，15天后会删除所有网站内容和数据库。</p>
            {% endif %}
            <hr />
          {% endif %}
          {% if hosting.available_upgrades %}
            <select id="hosting-upgrade-select">
              {% for available_upgrade in hosting.available_upgrades %}
                <option value="{{ available_upgrade.product_id }}" data-product-name="{{available_upgrade.name}}">{{ _(available_upgrade.name) }}</option>
              {% endfor %}
            </select>
            <a href="{{ url_for("cart") }}" id="hosting-upgrade" data-hosting-id="{{hosting.id}}" style="margin-bottom: 8px;" class="btn btn-info">升级虚拟主机</a>
            <hr />
          {% endif %}
          {% if hosting.status == 'active' %}
            <a data-toggle="modal" href="#modal-show-ssh-info" class="btn">SSH信息</a>
            <blockquote style="margin-top:10px;">查看SSH连接的用户名和密码。</blockquote>
            <hr />

            <div class="modal hide" id="modal-show-ssh-info">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>SSH信息</h3>
              </div>
              <form class="form-horizontal">
                <fieldset>
                    <div class="controls">
                      <p>用户名：</p>
                      <p><span class="alert alert-success">{{ssh_info.username}}</span><p>
                      <p>密  码：</p>
                      <p><span class="alert alert-success">{{ssh_info.password}}</span><p>
                      <br />
                      <p>你可以这样连接到虚拟主机：</p>
                      <p>ssh {{ssh_info.username}}@23.27.192.69<p>
                      <p>然后输入你的密码</p>
                      <br />
                    </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">返 回</button>
                  </div>
                </fieldset>
              </form>
            </div>
            <a href="{{ url_for("user.hosting.websites") }}" class="btn">管理网站</a>
            <blockquote style="margin-top:10px;">添加和删除网站，管理网站程序。</blockquote>
            <hr />
            <a href="{{ url_for("user.hosting.ftpusers") }}" class="btn">管理FTP账户</a>
            <blockquote style="margin-top:10px;">
              添加和删除FTP账户
            </blockquote>
            <hr />
            <a href="{{ url_for("user.hosting.mysqlusers") }}" class="btn">管理MySQL账户</a>
            <blockquote style="margin-top:10px;">
              添加和删除MySQL账户，设置MySQL账户权限
            </blockquote>
            <hr />
            <a href="{{ url_for("user.hosting.mysqldbs") }}" class="btn">管理MySQL数据库</a>
            <blockquote style="margin-top:10px;">
              添加和删除MySQL数据库
            </blockquote>
          {% endif %}
        </div>    
        {% if hosting.status == 'active' %}
          <div class="span3">
            <h3>状态</h3>
            <table class="table table-bordered">
              <tr>
                <td>
                  <br />
                  <p>到期时间 {{ usage.expires_in }}天后</p>
                  <div class="progress progress-{{ usage.sevy_expires }}">
                    <div class="bar" style="width: {{ usage.pct_expires }}%;"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <br />
                <p>绑定域名数 {{ usage.num_websites }}/{% if hosting.num_websites == 0 %}无限制{% else %}{{ hosting.num_websites }}{% endif %} ({{ usage.pct_webistes }}%)</p>
                <div class="progress progress-{{ usage.sevy_websites }}">
                  <div class="bar" style="width: {{ usage.pct_webistes }}%;"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <br />
              <p>MySQL数据库个数 {{ usage.num_mysqldbs }}/{% if hosting.num_websites == 0 %}无限制{% else %}{{ hosting.num_mysqldbs }}{% endif %} ({{ usage.pct_mysqldbs }}%)</p>
              <div class="progress progress-{{ usage.sevy_mysqldbs }}">
                <div class="bar" style="width: {{ usage.pct_mysqldbs }}%;"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <br />
            <p>流量 {{ usage.bandwidth }}G/{% if hosting.bandwidth == 0 %}无限制{% else %}{{ hosting.bandwidth }}G{% endif %} ({{ usage.pct_bandwidth }}%)</p>
            <div class="progress progress-{{ usage.sevy_bandwidth }}">
              <div class="bar" style="width: {{ usage.pct_bandwidth }}%;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <br />
          <p>硬盘空间 {{ usage.disk }}G/{% if hosting.disk == 0 %}无限制{% else %}{{ hosting.disk }}G{% endif %} ({{ usage.pct_disk }}%)</p>
          <div class="progress progress-{{ usage.sevy_disk }}">
            <div class="bar" style="width: {{ usage.pct_disk }}%;"></div>
          </div>
        </td>
      </tr>
      <tboby>
      </tboby>
    </table>
  </div>
{% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}
