{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}MySQL数据库用户 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_mysqlusers_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
</li>
<span class="divider">/</span>
<li class="active">MySQL账户</li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">MySQL账户</h3>
<p>这里是你的MySQL账户列表，你可以添加，删除MySQL账户。</p>
<p class="alert alert-info">MySQL数据库服务器为：localhost</p>
<a class="btn" target="_blank" href="http://phpmyadmin.eduoyun.com/">点击这里进入phpMyAdmin管理数据库</a>
<hr />
<p><a class="btn btn-success" data-toggle="modal" href="#myModal" >创建新MySQL账户</a>
<a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选定</a></p>
<div class="modal hide" id="myModal"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>创建新MySQL用户</h3>
  </div>
  <form class="form-horizontal validate-form" action="" method="POST">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="mysqlusername">用户名: </label>
        <div class="controls">
          <input class="span3" type="text" name="mysqlusername" id="mysqlusername">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="mysqluserpassword">密码: </label>
        <div class="controls">
          <input class="span3" type="password" name="mysqluserpassword" id="mysqluserpassword">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="mysqluserpassword_confirm">确认密码: </label>
        <div class="controls">
          <input class="span3" type="password" name="mysqluserpassword_confirm" id="mysqluserpassword_confirm">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="create_mysqluser" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
<form class="user-hosting form-horizontal" action="" method="POST">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>用户名</th>
        <th>状态</th>
        <th>管理</th>
      </tr>
    </thead>
    <tboby>
    {% for mysqluser in mysqlusers %}
    {% if mysqluser.app_id == 0 %}
    <tr>
      <td><input name="mysqluser_ids" value="{{ mysqluser.id }}" type="checkbox"></td>
      <td><a href="https://{{ request.host }}/user/hosting/mysqlusers/{{ mysqluser.id }}">{{ mysqluser.username }}</a></td>
      <td>{{ _(mysqluser.status) }}</td>
      <td>
        <div class="btn-group">
          <a class="btn" href="https://{{ request.host }}/user/hosting/mysqlusers/{{ mysqluser.id }}">查看</a>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="https://{{ request.host }}/user/hosting/mysqlusers/{{ mysqluser.id }}">修改密码</a></li>
            <li><a href="https://{{ request.host }}/user/hosting/mysqlusers/{{ mysqluser.id }}">设置管理数据库</a></li>
            <li><a data-toggle="modal" href="#modal_delete_mysqluser_{{ mysqluser.id }}">删除</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% for mysqluser in mysqlusers %}
    {% if mysqluser.app_id != 0 %}
    <tr>
      <td></td>
      <td>{{ mysqluser.username }}</td>
      <td>{{ _(mysqluser.status) }}</td>
      <td>由网站程序创建</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tboby>
  </table>
<div class="modal hide" id="modal_delete_selected"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
    <fieldset>
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">确认删除?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
</div>
</form>
{% for mysqluser in mysqlusers %}
{% if mysqluser.app_id == 0 %}
<div class="modal hide" id="modal_delete_mysqluser_{{ mysqluser.id }}">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
  <form class="form-horizontal" action="" method="POST">
    <fieldset>
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">确认删除?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete_mysqluser" value="{{ mysqluser.id }}" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
{% endif %}
{% endfor %}
{% endblock %}
