{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}MySQL数据库 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_mysqldbs_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
</li>
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting/mysqldbs">MySQL数据库</a> 
</li>
<span class="divider">/</span>
<li class="active">{{ mysqldb.name }} </li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">MySQL数据库</h3>
<p>这里你可以设置该MySQL数据库可以被哪些MySQL账户所管理</p>
<hr>
<strong><p>数据库名</p></strong>
{{ mysqldb.name }}
<hr>
<strong><p>添加被以下MySQL用户所管理</p></strong>
<form class="user-hosting" method="POST">
<p><button class="btn" type="submit" name="add_selected" >添加选定</button></p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>MySQL用户</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for unmanaged_mysqluser in unmanaged_mysqlusers %}
      <tr>
        <td><input name="mysqluser_ids" value="{{ unmanaged_mysqluser.id }}" type="checkbox"></td>
        <td> {{ unmanaged_mysqluser.username }}</td>
        <td><button class="btn" type="submit" name="create_membership" value="{{ unmanaged_mysqluser.id }}">添加到MySQL用户</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<hr>
<strong><p>被以下MySQL用户所管理</p></strong>
<form class="user-hosting" method="POST">
<p><button class="btn btn-danger" type="submit" name="delete_selected" >删除选定</button></p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>MySQL用户</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for managed_mysqluser in managed_mysqlusers %}
      <tr>
        <td><input name="mysqluser_ids" value="{{ managed_mysqluser.id }}" type="checkbox"></td>
        <td> {{ managed_mysqluser.username }}</td>
        <td><button type="submit" name="delete_membership" value="{{ managed_mysqluser.id }}" class="btn btn-danger">取消MySQL用户</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
