{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}MySQL数据库 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_mysqldbs_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
</li>
<span class="divider">/</span>
<li class="active">MySQL数据库</li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">MySQL数据库</h3>
<p>这里是你的MySQL数据库列表，你可以添加，删除MySQL数据库</p>
<p class="alert alert-info">MySQL数据库服务器为：localhost</p>
<a class="btn" target="_blank" href="http://phpmyadmin.eduoyun.com/">点击这里进入phpMyAdmin管理数据库</a>
<hr />
<p><a class="btn btn-success" data-toggle="modal" href="#dbModal" >创建新MySQL数据库</a>
<a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选定</a></p>
<div class="modal hide" id="dbModal"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>创建新MySQL数据库</h3>
  </div>
  <form class="form-horizontal validate-form" action="" method="POST">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="mysqldbname">数据库名: </label>
        <div class="controls">
          <input class="span3" type="text" name="mysqldbname" id="mysqldbname">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="charset">字符集: </label>
        <div class="controls">
          <select name="charset" id="charset">
            <option value="utf8">utf8</option>
            <option value="gbk">gbk</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="create_mysqldb" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
<form class="user-hosting form-horizontal" action="" method="POST">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>数据库</th>
        <th>状态</th>
        <th>管理</th>
      </tr>
    </thead>
    <tboby>
    {% for mysqldb in mysqldbs %}
    {% if mysqldb.app_id == 0 %}
    <tr>
      <td><input name="mysqldb_ids" value="{{ mysqldb.id }}" type="checkbox"></td>
      <td><a href="https://{{ request.host }}/user/hosting/mysqldbs/{{ mysqldb.id }}">{{ mysqldb.name }}</a></td>
      <td>{{ _(mysqldb.status) }}</td>
      <td>
        <div class="btn-group">
          <a class="btn" href="https://{{ request.host }}/user/hosting/mysqldbs/{{ mysqldb.id }}">查看</a>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="https://{{ request.host }}/user/hosting/mysqldbs/{{ mysqldb.id }}">设置关联账户</a></li>
            <li><a data-toggle="modal" href="#modal_delete_mysqldb_{{ mysqldb.id }}">删除</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% for mysqldb in mysqldbs %}
    {% if mysqldb.app_id != 0 %}
    <tr>
      <td></td>
      <td>{{ mysqldb.name }}</td>
      <td>{{ _(mysqldb.status) }}</td>
      <td>由网站程序创建</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tboby>
  </table>
<div class="modal hide" id="modal_delete_selected"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
    <fieldset>
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">确认删除?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
</div>
</form>
{% for mysqldb in mysqldbs %}
{% if mysqldb.app_id == 0 %}
<div class="modal hide" id="modal_delete_mysqldb_{{ mysqldb.id }}">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>确认删除</h3>
  </div>
  <form class="form-horizontal" action="" method="POST">
    <fieldset>
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">确认删除?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete_mysqldb" value="{{ mysqldb.id }}" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
{% endif %}
{% endfor %}
{% endblock %}
