{% from "site/helpers.html" import flash_messages %}
{% extends "user/layout.html" %}
{% block title %}MySQL数据库用户 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_mysqlusers_active %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting">云虚拟主机</a> 
</li>
<span class="divider">/</span>
<li>
<a href="https://{{ request.host }}/user/hosting/mysqlusers">MySQL账户</a> 
</li>
<span class="divider">/</span>
<li class="active">{{ mysqluser.username }} </li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
<h3 class="table_title">MySQL账户</h3>
<p>这里你可以设置MySQL账户的权限，添加或者删除该MySQL账户可以管理的MySQL数据库</p>
<hr>
<strong><p>用户名</p></strong>
{{ mysqluser.username }}
<a data-toggle="modal" href="#modal-change-password" class="btn btn-primary">修改密码</a>
<div class="modal hide" id="modal-change-password"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>修改MySQL密码</h3>
  </div>
  <form class="form-horizontal validate-form" method="POST">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="mysqluserpassword">新密码: </label>
        <div class="controls">
          <input class="span3" type="password" name="mysqluserpassword" id="mysqluserpassword">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="mysqluserpassword_confirm">确认密码: </label>
        <div class="controls">
          <input class="span3" type="password" name="mysqluserpassword_confirm" id="mysqluserpassword_confirm">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="change_password" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
<hr>
<strong><p>添加该MySQL账户所管理数据库</p></strong>
<form class="user-hosting" method="POST">
<p><button class="btn" type="submit" name="add_selected" >添加选定</button></p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>MySQL数据库</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for unmanaged_mysqldb in unmanaged_mysqldbs %}
      <tr>
        <td><input name="mysqldb_ids" value="{{ unmanaged_mysqldb.id }}" type="checkbox"></td>
        <td> {{ unmanaged_mysqldb.name }}</td>
        <td><button class="btn" type="submit" name="create_membership" value="{{ unmanaged_mysqldb.id }}">添加管理该数据库</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<hr>
<strong><p>该MySQL账户所管理数据库</p></strong>
<form class="user-hosting" method="POST">
<p><button class="btn btn-danger" type="submit" name="delete_selected" >删除选定</button></p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>MySQL数据库</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for managed_mysqldb in managed_mysqldbs %}
      <tr>
        <td><input name="mysqldb_ids" value="{{ managed_mysqldb.id }}" type="checkbox"></td>
        <td> {{ managed_mysqldb.name }}</td>
        <td><button type="submit" name="delete_membership" value="{{ managed_mysqldb.id }}" class="btn btn-danger">取消管理该数据库</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
