<p><strong>Ruby On Rails设置</strong></p>
<blockquote>
  请将你的Rails程序上传到网站根目录下，或者你也可以设置public文件夹的路径
  <br />
  <br />
  更新代码后，请在下方点击重启程序，或者在tmp文件夹创建文件restart.txt
</blockquote>
<form class="form-inline" method="POST">
  <label>RoR的public文件夹路径: {{ website.name }}/
    <input type="text" name="ror_path" value="{{ ror_status.path }}">
  </label>
  <button type="submit" class="btn" name="change_ror_path">保存修改</button>
</form>
{% if ror_status.path_exists %}
  {% if not ror_status.gem_installed %}
    <div class="alert alert-info" id="install-gem"><span>依赖Gem缺失</span>
      <button id="install-gem-button" class="btn">安装依赖Gem</button>
    </div>
  {% endif %}

  <div id="ror-control" {% if not ror_status.gem_installed %}style="display: none;"{% endif %}>
    <form method="POST">
      <button type="submit" class="btn" name="restart_app" id="restart-app">重启RoR程序(修改代码后)</button>
      <button type="submit" class="btn" name="init_db" id="init-db">初始化数据库(rake db:setup)</button>
      <button type="submit" class="btn" name="precompile_assets" id="precompile-assets">预编译静态文件(rake assets:precompile)</button>
    </form>
  </div>

{% else %}
  <p class="alert alert-error">未能检测到Gemfile，请确保app上传到正确的文件夹，或者修改路径</p>
{% endif %}
