{% from "site/helpers.html" import render_form, flash_messages %}
{% extends "user/layout.html" %}
{% block title %}网站文件管理 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_websites_active %} active{% endblock %}
{% block css %}
 <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
 <script src="{{ url_for('static', filename='js/bootstrap-fileupload.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
 <span class="divider">/</span>
  <li>
  <a href="{{url_for('user.hosting.index')}}">虚拟主机</a> 
  </li>
<span class="divider">/</span>
  <li>
  <a href="{{url_for('user.hosting.websites')}}">网站绑定</a> 
  </li>
<span class="divider">/</span>
  <li><a href="{{url_for('user.hosting.websites_show', id=website.id)}}">{{ website.name }}</a></li>
<span class="divider">/</span>
<li class="active">文件管理</li>
{% endblock %}

{% block user_content %}

 {{ flash_messages() }}

<div class="alert alert-success">
<p>你可以上传压缩文件后在线解压缩，文件必须是以.zip为扩展名。</p>
<p>你也可以在线压缩文件后下载，选中所需压缩的文件，输入文件名后，就会被压缩到当前目录下，然后就可以下载。 </p>
</div>

<div class="btn-group">
{% for link in tree %}
 <a class="btn" href="{{ link.link }}">{{ link.entry }}</a>
{% endfor %}
</div>
<hr />
{% if display.type == 'file' %}
 <pre style="overflow: auto; height: 600px; white-space:pre; word-break:normal; word-wrap:normal;">{{ display.contents }}</pre>
 {% elif display.type == 'binary' %}
 <div class="well"></div>
{% else %}
  <p>
  <form method="POST" enctype="multipart/form-data">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-append">
        <div class="uneditable-input span2"> <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
        <span class="btn btn-file">
          <span class="fileupload-new">上传文件</span>
          <span class="fileupload-exists">修改</span>
          <input type="file" name="file" />
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">取消</a>
        <input class="btn fileupload-exists" name="upload" type="submit" value="开始上传" />
      </div>
    </div>
  </form>
  <a class="btn btn-success" data-toggle="modal" href="#modal-zip">压缩选中文件</a>
  <a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选中文件</a>
  </p>
  <form class="user-hosting form-horizontal" method="POST">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input class="select_all" type="checkbox" /></th>
          <th>权限</th>
          <th>名字</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in display.contents %}
          {% if entry.type == 'dir' %}
            <tr>
              <td><input name="entries" value="{{ entry.name }}" type="checkbox"></td>
              <td>{{ entry.permission }}</td>
              <td><a href="{{ url }}{{ entry.name }}/"><i class="icon-{% if entry.type == 'dir' %}folder-close{% else %}file{% endif %}"></i> {{ entry.name }}</a></td>
              <td><a class="btn btn-danger" data-toggle="modal" href="#modal_delete_{{ entry.id }}">删除</a></td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for entry in display.contents %}
          {% if entry.type == 'file' %}
            <tr>
              <td><input name="entries" value="{{ entry.name }}" type="checkbox"></td>
              <td>{{ entry.permission }}</td>
              <td><a href="{{ url }}{{ entry.name }}"><i class="icon-{% if entry.type == 'dir' %}folder-close{% else %}file{% endif %}"></i> {{ entry.name }}</a></td>
              <td>
                <div class="btn-group">
                  <button type="submit" name="download" value="{{ entry.name }}" class="btn">下载</button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a data-toggle="modal" href="#modal_delete_{{ entry.id }}">删除</a></li>
                  </ul>
                </div>
                    {% if entry.name.endswith('.zip') %}
                      <a class="btn" data-toggle="modal" href="#modal_unzip_{{ entry.id }}">解压缩</a>
                    {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <input id="download" type="hidden" disabled="disabled" name="download" />
    <div class="modal hide" id="modal_delete_selected"> 
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>确认删除</h3>
      </div>
      <fieldset>
        <br />
        <div class="controls">
          <span class="label label-important">警告: </span>
          <p class="help-block">确认删除?</p>
        </div>
        <br />
        <div class="modal-footer">
          <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </div>
    <div class="modal hide" id="modal-zip"> 
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>文件压缩</h3>
      </div>
      <fieldset>
        <br />
        <div class="control-group">
          <label class="control-label" for="archname">压缩后文件名: </label>
          <div class="controls">
            <input class="span3" type="text" name="archname" id="archname"><span>.zip</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="zip" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </div>
  </form>

{% endif %}

{% if display.type == 'dir' %}
  {% for entry in display.contents %}
    {% if entry.type == 'file' and entry.name.endswith('.zip') %}
      <div class="modal hide" id="modal_unzip_{{ entry.id }}">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>文件解压缩</h3>
        </div>
        <form class="form-horizontal" method="POST">
          <fieldset>
            <div class="controls">
              <span class="label label-important">警告: </span>
              <p class="help-block">解压缩时会覆盖相同文件名的文件，确认继续?</p>
              <br />
            </div>
            <div class="modal-footer">
              <button type="submit" name="unzip" value="{{ entry.name }}" class="btn btn-primary">确 认</button>
              <button class="btn" data-dismiss="modal">取 消</button>
            </div>
          </fieldset>
        </form>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if display.type == 'dir' %}
  {% for entry in display.contents %}
    <div class="modal hide" id="modal_delete_{{ entry.id }}">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>删除</h3>
      </div>
      <form class="form-horizontal" method="POST">
        <fieldset>
          <div class="controls">
            <span class="label label-important">警告: </span>
            <p class="help-block">确认删除?</p>
            <br />
          </div>
          <div class="modal-footer">
            <button type="submit" name="delete" value="{{ entry.name }}" class="btn btn-primary">确 认</button>
            <button class="btn" data-dismiss="modal">取 消</button>
          </div>
        </fieldset>
      </form>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}
