{% from "site/helpers.html" import render_form, flash_messages %}
{% extends "user/layout.html" %}
{% block title %}网站绑定 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_websites_active %} active{% endblock %}
{% block breadcrumb %}
  <span class="divider">/</span>
  <li>
  <a href="{{url_for('user.hosting.index')}}">虚拟主机</a> 
  </li>
  <span class="divider">/</span>
  <li class="active">网站绑定</li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
  <h3 class="table_title">网站绑定</h3>
  <p>这儿是你绑定的网站列表，你可以添加，删除所绑定的域名。</p>
  <p>绑定域名后，你可以开始一键安装你喜欢的网站程序，例如Wordpress，phpWind等等，构建你的博客，论坛，网上商城</p>
  <p class="alert alert-info">请不要忘记修改你的域名DNS设置，服务器IP地址为：23.27.192.69
  </p>
  <hr />
  <p><a class="btn btn-success" data-toggle="modal" href="#myModal" >绑定新域名</a>
  <a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选定</a></p>
  <div class="modal hide" id="myModal"> 
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>绑定新网站</h3>
    </div>
    <form class="form-horizontal" action="" method="POST">
      <fieldset>
        {{ form.csrf_token }}
        {{ render_form(form.domain) }}
        <div class="modal-footer">
          <button type="submit" name="create" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </form>
  </div>
  {% if form.errors %}
    <script>$('#myModal').modal('show')</script>
  {% endif %}
  <form class="user-hosting form-horizontal" method="POST">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><input class="select_all" type="checkbox"></th>
          <th>域名</th>
          <th>状态</th>
          <th>管理</th>
        </tr>
      </thead>
      <tboby>
      {% for website in websites %}
        <tr>
          <td><input name="website_ids" value="{{ website.id }}" type="checkbox"></td>
          <td><a href="{{url_for('user.hosting.websites_show', id=website.id)}}">{{ website.name }}</a></td>
          <td>{{ _(website.status) }}</td>
          <td>
            <div class="btn-group">
              <a class="btn" href="{{url_for('user.hosting.websites_show', id=website.id)}}">查看</a>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('user.hosting.websites_show', id=website.id)}}">设置网站程序</a></li>
                <li><a data-toggle="modal" href="#modal_delete_{{ website.id }}">删除</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tboby>
    </table>
    <div class="modal hide" id="modal_delete_selected"> 
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>确认删除</h3>
      </div>
      <fieldset>
        <div class="controls">
          <span class="label label-important">警告: </span>
          <p class="help-block">删除后网站的所有内容都会被删除，确认继续?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </div>
  </form>


  {% for website in websites %}
    <div class="modal hide" id="modal_delete_{{ website.id }}">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>确认删除</h3>
      </div>
      <form class="form-horizontal" action="" method="POST">
        <div class="control-group">
          <div class="controls">
            <span class="label label-important">警告: </span>
            <p class="help-block">删除后这个网站的所有内容都会被删除，确认继续?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="delete" value="{{ website.id }}" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </form>
    </div>
  {% endfor %}


{% endblock %}
