<strong><p>一键安装程序</p></strong>
<blockquote style="margin-top:10px;">这里你可以管理你的网站程序，轻松一键安装你喜欢的网站程序，Wordpress, phpWind等等</blockquote>
<p><a class="btn btn-success" data-toggle="modal" href="#myModal" >创建新程序</a>
<a class="btn btn-danger" data-toggle="modal" href="#modal_delete_selected" >删除选定</a></p>
<div class="modal hide" id="myModal"> 
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>创建新程序</h3>
  </div>
  <form class="form-horizontal" action="" method="POST">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="app_name">种类: </label>
        <div class="controls">
          <select name="app_name" id="app_name">
            {% for apptype in apptypes %}
              <option value="{{ apptype.name }}">{{ apptype.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="app_path">路径: </label>
        <div class="controls">
          <span>/</span> <input class="span3" type="text" name="app_path" id="app_path">
          <p class="help-block">选择网站程序的安装路径，比如你想安装到根目录，通过</p>
          <p class="help-block">http://{{ website.name }}/</p>
          <p class="help-block">访问，则路径留空。</p>
          <hr />
          <p class="help-block">或者你想程序安装到</p>
          <p class="help-block">http://{{ website.name }}/blog</>
          <p class="help-block">则在路径填blog。</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="create_app" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </form>
</div>
<form class="user-hosting form-horizontal" method="POST">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="select_all" type="checkbox"></th>
        <th>程序名</th>
        <th>路径</th>
        <th>MySQL数据库</th>
        <th>状态</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
        <tr>
          <td><input name="app_ids" value="{{ app.id }}" type="checkbox"></td>
          <td>{{ app.name }}</td>
          <td>/{{ app.path }}</td>
          <td><a data-toggle="modal" class="btn" href="#modal_show_app_{{ app.id }}_mysql">查看</a></td>
          <td>{{ _(app.status) }}</td>
          <td><a data-toggle="modal" class="btn btn-danger" href="#modal_delete_app_{{ app.id }}">删除</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal hide" id="modal_delete_selected"> 
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>确认删除</h3>
    </div>
    <fieldset>
      <div class="controls">
        <span class="label label-important">警告: </span>
        <p class="help-block">删除后程序的内容和数据库都会被删除，确认继续?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" name="delete_selected" class="btn btn-primary">确 认</button>
        <button class="btn" data-dismiss="modal">取 消</button>
      </div>
    </fieldset>
  </div>
</form>
{% for app in apps %}
  <div class="modal hide" id="modal_delete_app_{{ app.id }}">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>确认删除</h3>
    </div>
    <form class="form-horizontal" action="" method="POST">
      <fieldset>
        <div class="controls">
          <span class="label label-important">警告: </span>
          <p class="help-block">删除后这个程序的内容和数据库都会被删除，确认继续?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" name="delete_app" value="{{ app.id }}" class="btn btn-primary">确 认</button>
          <button class="btn" data-dismiss="modal">取 消</button>
        </div>
      </fieldset>
    </form>
  </div>
{% endfor %}
{% for app in apps %}
  <div class="modal hide" id="modal_show_app_{{ app.id }}_mysql">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>MySQL数据库</h3>
    </div>
    <form class="form-horizontal">
      <fieldset>
        <div class="controls">
          <p>MySQL数据库用户名: </p>
          <p>{{ app.mysqluser_username }}</p>
        </div>
        <div class="controls">
          <br />
          <p>MySQL数据库密码: </p>
          <p>{{ app.mysqluser_password }}</p>
        </div>
        <div class="controls">
          <br />
          <p>MySQL数据库名: </p>
          <p>{{ app.mysqldb_name }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">返 回</button>
        </div>
      </fieldset>
    </form>
  </div>
{% endfor %}
