{% from "site/helpers.html" import render_form, flash_messages, link_to with context %}
{% extends "user/layout.html" %}
{% block css %}
  <link href="{{ url_for('static', filename='css/toggle-switch.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}网站信息 - 云虚拟主机 - 易多云{% endblock %}
{% block user_hosting_websites_active %} active{% endblock %}
{% block breadcrumb %}
  <span class="divider">/</span>
  <li>
  <a href="{{ url_for("user.hosting.index") }}">虚拟主机</a> 
  </li>
  <span class="divider">/</span>
  <li>
  <a href="{{ url_for("user.hosting.websites") }}" class="active">网站绑定</a> 
  </li>
  <span class="divider">/</span>
  <li class="active">{{ website.name }} </li>
{% endblock %}
{% block user_content %}
  {{ flash_messages() }}
  <h3 class="table_title">网站信息</h3>
  <p><strong>域名: </strong>{{ website.name }} </p>
    <form id="toggle_ror_form" method="POST">
  <label class="checkbox toggle well" onclick="" style="width:100px">
    <input id="ror_checkbox" name="ror_checkbox" type="checkbox" {% if ror_status.enabled %}checked{% endif %} />
    <p>RoR支持<span>开启</span><span>关闭</span></p>
    <a class="slide-button btn"></a>
  </label>
  <input type="text" name="toggle_ror" style="display:none;">
  </form>
  <hr>
  <a class="btn btn-primary" href="{{ url_for('user.hosting.websites_files', id=website.id) }}"><i class="icon-folder-close icon-white"></i> 文件管理</a>
  <blockquote style="margin-top:10px;">你可以在线浏览网站的文件，在线解压zip压缩包，上传和下载文件</blockquote>
  <hr>
  {% if website.status == 'active' %}
    {% if ror_status.enabled %}
      {% include "user/hosting/websites_show_ror.html" %}
    {% else %}
      {% include "user/hosting/websites_show_apps.html" %}
    {% endif %}
  {% else %}
    <p class="alert">{{ _(website.status) }}</p>
  {% endif %}
{% endblock %}
