{% extends "site/layout.html" %}
{% block title %}域名注册，域名转入 - 易多云{% endblock %}
{% block domain %}class="active"{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="well">
      <h3>域名查询</h3>
      <form class="form-inline" id="domain-search">
        <span>www. </span><input type="text" name="" id="domain-name" value="" />
        <select style="width:100px;">
          {% for tld in tlds %}
          <option tld_id="{{ tld.id }}" tld_name="{{ tld.name}}" class="tlds">.{{ tld.name }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-primary" type="SUBMIT">开始查询</button>
        <a class="btn" href="{{url_for('cart')}}">购物车</a>
        <input type="hidden" id="csrf" value={{ csrf }} />
        <span style="margin-top:5px;" class="help-block">输入你想要注册的域名查询</span>
      </form>
    </div>
    <div id="domain-availability"></div>
    <div class="well" id="domain-transfer-block">
      <h3>域名转入</h3>
      <p><span style="width: 80px;display:inline-block;">域名:</span>
      <input style="width:200px;" type="text" name="domain_name" id="domain-name" value="" />
      <select style="width:100px;">
        {% for tld in tlds %}
        <option tld_id="{{ tld.id }}" tld_name="{{ tld.name}}" class="tlds">.{{ tld.name }}</option>
        {% endfor %}
      </select>
      </p>
      <input type="hidden" id="csrf" value={{ csrf }} />
      <p><span style="width: 80px; display: inline-block;">域名转移码:</span>
      <input style="width:200px;" type="text" name="auth_code" id="auth-code" value="" />
      <a style="margin-bottom: 10px; width:75px;" id="domain-transfer" class="btn btn-primary" href="{{ url_for("cart") }}">开始转入</a>
      </p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>免费试用15天</h3>
      <p>现在新用户可以获得免费试用基础虚拟主机15天的机会，现在就开始试用吧！</p>
      <a class="btn btn-info" href="{{ url_for("hosting.trial") }}">免费试用</a>
    </div>
  </div>
</div>
{% endblock %}
