{% extends "user/layout.html" %}
{% block title %}会员中心 - 易多云{% endblock %}
{% block user_index %}class="active"{% endblock %}
{% block user_content %}
<p>登陆邮箱: {{ g.user.username }}</p>
<p><a class="btn" href="{{ url_for("user.invoices") }}">查看所有账单</a><a style="margin-left: 10px;" class="btn" href="{{ url_for("user.password") }}">修改密码</a></p>
<hr />
<p>未付款账单</p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>    
        <th>账单编号</th>
        <th>创建时间</th>
        <th>总计</th>
        <th>状态</th>
        <th>付款时间</th>
        <th></th>
      </tr>
      </thead>
        <tbody>
          {% for invoice in unpaid_invoices %}
          <tr>
            <td>{{ invoice.uuid }}</td>
            <td>{{ invoice.created_at }}</td>
            <td>{{ invoice.amount }}</td>
            <td>{% if invoice.paid %}已付款{% else %}未付款{% endif %}</td>
            <td>{% if invoice.paid_at %}{{ invoice.paid_at }}{% endif %}</td>
            <td><a href="{{ url_for("user.invoices_show", invoice_id = invoice.id) }}" class="btn">查看账单</a>{% if not invoice.paid %}<br /><a href="https://{{ request.host }}/invoice/{{ invoice.id }}" style="margin-top:3px" class="btn btn-primary">现在付款</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
