{% extends "user/layout.html" %}
{% block title %}账单 - 易多云{% endblock %}
{% block user_invoices %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li>
<a href="{{url_for('user.invoices')}}/user/invoices">账单</a> 
</li>
<span class="divider">/</span>
<li class="active">{{ invoice.uuid }}</li>
{% endblock %}
{% block user_content %}
<h3>账单 {{ invoice.uuid }}</h3>
{% if invoice.paid %}
<p>已付款</p>
{% else %}
<p>未付款</p>
<a href="{{url_for('invoice', invoice_id=invoice.id)}}" style="margin-top:3px" class="btn btn-primary">现在付款</a>
{% endif %}
<hr />
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>产品</th>   
      <th>时长</th>
      <th>数额</th>
      <th>优惠</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice_item in invoice_items %}
    <tr>
      <td>{{ _(invoice_item.product) }} {{ _(invoice_item.type) }}</td>
      <td>{{ _(invoice_item.term) }}</td>
      <td>{{ invoice_item.amount }}</td>
      <td>{{ invoice_item.discount }}</td>
    </tr>  
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">总计</td>
      <td colspan="2">{{ total_amount }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
