{% extends "user/layout.html" %}
{% block title %}账单 - 易多云{% endblock %}
{% block user_invoices %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li class="active">账单</li>
{% endblock %}
{% block user_content %}
<h3>我的账单</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>    
      <th>账单编号</th>
      <th>创建时间</th>
      <th>总计</th>
      <th>状态</th>
      <th>付款时间</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
    <tr>
      <td>{{ invoice.uuid }}</td>
      <td>{{ invoice.created_at }}</td>
      <td>{{ invoice.amount }}</td>
      <td>{% if invoice.paid %}已付款{% else %}未付款{% endif %}</td>
      <td>{% if invoice.paid_at %}{{ invoice.paid_at }}{% endif %}</td>
      <td><a href="{{ url_for("user.invoices_show", invoice_id = invoice.id) }}" class="btn">查看账单</a>{% if not invoice.paid %}<br /><a href="{{url_for('invoice', invoice_id=invoice.id)}}" style="margin-top:3px" class="btn btn-primary">现在付款</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
