{% extends "site/layout.html" %}
{% block user %}
<ul class="nav nav-pills pull-right">
  <li class="account"><a>{{g.user.username}}</a></li>
  <li class="divider-vertical"></li>
  <li class="dropdown" id="menu1">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">账户<b class="caret"></b></a>
  <ul class="dropdown-menu">
      <li><a href="{{ url_for("user.logout") }}">登出</a></li>
  </ul>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span3 columns">
    <div class="well">
      <ul class="nav nav-pills nav-stacked">
        <li {% block user_index %}{% endblock %}>{{ link_to("user.index", "会员中心") }}</li>
        <li class="indent {% block user_invoices %}{% endblock %}"><a href="{{ url_for("user.invoices") }}">查看账单</a></li>
        <li class="indent {% block user_password %}{% endblock %}"><a href="{{ url_for("user.password") }}">修改密码</a></li>

        <li {% block user_domain_active %}{% endblock %}> <a href="{{url_for('user.domain.index')}}">域名管理</a></li>
        {% if domain %}
        <li class="indent {% block user_domain_id %}{% endblock %}"> 
        <a href="{{url_for('user.domain.show', domain_id=domain.id)}}">域名管理菜单</a>
        </li>
        <li class="indent {% block user_domain_id_dns %}{% endblock %}">
        <a href="{{url_for('user.domain.dns', domain_id=domain.id)}}">域名解析(DNS)</a>
        </li>
        <li class="indent {% block user_domain_id_ns %}{% endblock %}">
        <a href="{{url_for('user.domain.ns', domain_id=domain.id)}}">域名服务器(NS)</a>
        </li>
        <li class="indent {% block user_domain_id_contact %}{% endblock %}">
        <a href="{{url_for('user.domain.contact', domain_id=domain.id)}}"> 联系方式</a>
        </li>
        {% endif %}
        <li {% block user_hosting_active %}{% endblock %}> <a href="{{url_for('user.hosting.index')}}">虚拟主机管理</a></li>
        {% if hosting and hosting.status == 'active' %}
        <li class="indent{% block user_hosting_websites_active %}{% endblock %}"> 
        <a href="{{url_for('user.hosting.websites')}}">网站绑定</a>
        </li>
        <li class="indent{% block user_hosting_ftp_active %}{% endblock %}"> 
        <a href="{{url_for('user.hosting.ftpusers')}}">FTP账户</a>
        </li>
        <li class="indent{% block user_hosting_mysqlusers_active %}{% endblock %}"> 
        <a href="{{url_for('user.hosting.mysqlusers')}}">MySQL账户</a>
        </li>
        </li>
        <li class="indent{% block user_hosting_mysqldbs_active %}{% endblock %}"> 
        <a href="{{url_for('user.hosting.mysqldbs')}}">MySQL数据库</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="span9 columns">
    <ul class="breadcrumb">
      <li>
      <a href="{{url_for('user.index')}}">会员中心</a> 
      </li>
      {% block breadcrumb %}
      {% endblock %}
    </ul>
    {% block user_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
<a href="#"></a> <span class="divider">/</span>
