{% from "site/helpers.html" import render_form, flash_messages, link_to with context %}
{% extends "site/layout.html" %}
{% block title %}会员登陆 - 易多云{% endblock %}
{% block content %}
  <div class="row">
    <div class="span8">
      <h3>您需要先登录才能继续操作</h3>
      <hr />
      <p>还没有账号，{{ link_to("user.signup", "立即注册") }}</p>
    </div>
    <div class="span4">
      <form method="POST" class="well">
        <fieldset>
          <legend>用户登录</legend>
          {{ flash_messages() }}
          {{ form.csrf_token }}
          {{ render_form(form.username, type="basic", style="width: 245px;") }}
          {{ render_form(form.password, type="basic", style="width: 245px;") }}
          <label class="checkbox">
            {{ form.remember_me }}
            记住我 
          </label>
          <br />
          <input class="btn btn-primary" type="submit" value="登录" name="login" />
          {{ link_to("user.pwreset", "忘记密码", class="btn") }}
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
