{% extends "user/layout.html" %}
{% block title %}修改密码 - 易多云{% endblock %}
{% block user_password %} active{% endblock %}
{% block breadcrumb %}
<span class="divider">/</span>
<li class="active">修改密码</li>
{% endblock %}
{% block user_content %}
{% if message == 'Password changed' %}
<p class="alert alert-success">成功修改密码</p>
{% else %}
    <form method="POST" class="form-horizontal validate-form">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <h3>修改密码</h3>          
          </div>
        </div>
            {% if message %}
            <p class="alert alert-error">{{ _(message) }}</p>
            {% endif %}
        <div class="control-group">
          <label class="control-label" for="original_password">原密码:</label>
          <div class="controls">
            <input type="password" class="input-large" id="original_password" name="original_password" value="{{ original_password }}"  >
            <p class="help-block">请输入你原来的密码</p>
          </div>
        </div>
        {{ form.csrf_token }}
        {{ render_form(form.password) }}
        {{ render_form(form.confirm) }}
        <div class="form-actions">
          <input class="btn btn-success" type="submit" value="确认修改" name="change_password" />
        </div>
      </fieldset>
    </form>
    {% endif %}
{% endblock %}
