{% extends "site/layout.html" %}
{% block title%}找回密码 - 易多云{% endblock %}
{% block content %}
  <h3>找回密码</h3>
  {% if response %}
    <p class="alert alert-success">{{ _(response) }}</p>
  {% else %}
    <form method="POST" class="form-horizontal validate-form">
      <fieldset>
        {% if message %}
          <p class="alert alert-error">{{ _(message) }}</p>
        {% endif %}
        <div class="control-group">
          <label class="control-label" for="input01">E-mail:</label>
          <div class="controls">
            <input type="text" class="input-large" id="email" name="email" value="{{ email }}" >
            <p class="help-block">请输入你注册时的E-mail地址，我们将会发送重置密码的链接到你的邮箱</p>
          </div>
        </div>
        <div class="form-actions">
          <input class="btn btn-success" type="submit" value="提交" name="submit" />
        </div>
      </fieldset>
    </form>
  {% endif %}
{% endblock %}
