{% extends "site/layout.html" %}
{% block title %}密码重置 - 易多云{% endblock %}
{% block content %}
{% if message == 'Password changed' %}
<p class="alert alert-success">成功修改密码</p>
{% elif message == 'url invalid' %}
<p class="alert alert-error">链接无效</p>
{% else %}
    <form method="POST" class="form-horizontal validate-form">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <h3>密码重置</h3>          
          </div>
        </div>
            {% if message %}
            <p class="alert alert-error">{{ message }}</p>
            {% endif %}
        <div class="control-group">
          <label class="control-label" for="password">密码:</label>
          <div class="controls">
            <input type="password" class="input-large" id="password" name="password" value="{{ password }}"  >
            <p class="help-block">请输入你想要重置的密码</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password_confirm">确认密码:</label>
          <div class="controls">
            <input type="password" class="input-large" id="password_confirm" name="password_confirm" value="{{ password_confirm }}"  >
            <p class="help-block">请再次输入你的密码</p>
          </div>
        </div>
        <div class="form-actions">
          <input class="btn btn-success" type="submit" value="确认修改" name="change_password" />
        </div>
      </fieldset>
    </form>
    {% endif %}
{% endblock %}
