{% from "site/helpers.html" import render_form, flash_messages, link_to with context %}
{% extends "user/layout.html" %}
{% block title %}用户注册 - 易多云{% endblock %}
{% block content %}
  <div class="row">
    <div class="span8">
      <form method="POST" class="form-horizontal">
        <fieldset>
          <legend>用户注册</legend>
          {{ flash_messages() }}
          {{ form.csrf_token }}
          {{ render_form(form.username) }}
          {{ render_form(form.password) }}
          {{ render_form(form.confirm) }}

          <div class="control-group {% if form.accept_tos.errors %}error{% endif %}">
            <div class="controls">
              <label class="checkbox">
                {{ form.accept_tos }}
                {% if form.accept_tos.errors %}
                  {% for error in form.accept_tos.errors %}
                    <span class="help-inline">{{ _(error) }}</span>
                  {% endfor %}
                {% endif %}
                同意遵守<a href="{{ url_for('tos') }}">用户协议</a> 
              </label>
            </div>
          </div>

          <div class="form-actions">
            <input class="btn btn-success" type="submit" value="注册" name="signup" />
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span4">
      <p>已经有账号，{{ link_to("user.login", "立即登陆") }}</p>
    </div>
  </div>
{% endblock %}
