{% extends "admin/layout.html" %}
{% block content %}

  <p><a href="{{ url_for("admin.users") }}" class="btn">用户</a></p>

  <div class="row">
    <div class="span3">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>金额</th>
            <th>月份</th>
          </tr>
        </thead>
        <tbody>
          {% for monthly_sale in monthly_sales %}
            <tr>
              <td>{{ monthly_sale.amount }}</td>
              <td>{{ monthly_sale.year }} - {{ monthly_sale.month }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">{{ total_sales }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

<h3>待处理域名</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>域名</th>
      <th>用户名</th>
      <th>用户ID</th>
      <th>购买类型</th>
      <th>状态</th>
      <th>已付款</th>
      <th>付款日期</th>
      </tr>
    </thead>
  <tbody>
    {% for domain in pending_domains %}
    <tr>
      <td>{{ domain.name }}.{{ domain.tld }}</td>
      <td>{{ _(domain.username) }}</td>
      <td>{{ _(domain.user_id) }}</td>
      <td>{{ _(domain.type) }}</td>
      <td>{{ domain.status }}</td>
      <td>{{ domain.paid }}</td>
      <td>{{ domain.paid_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
