{% extends "admin/layout.html" %}
{% block content %}
  <form class="form-search" method="POST">
    <input type="TEXT" name="username">
    <input class="btn" type="SUBMIT" value="搜索" name="search">
  </form>
  {% if searched_users %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>username</th>
          <th>login as</th>
        </tr>
      </thead>
      <tbody>
        {% for user in searched_users %}
          <tr>
            <td><a href="{{ url_for('admin.users_show', id=user.id) }}">{{ user.username }}</a></td>
            <td><a href="{{ url_for('admin.users', login_as_id=user.id, login_as_username=user.username) }}">login</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  {% endif %}
{% endblock %}
