{% extends "admin/layout.html" %}
{% block content %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>product</th>
        <th>status</th>
        <th>expires</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for hosting in hostings %}
        <tr>
          <td><input type="checkbox" class="hosting-id" name="hosting-id" value="{{ hosting.id }}" /></td>
          <td>{{ hosting.product }}</td>
          <td>{{ hosting.status }}</td>
          <td>{{ hosting.expires_at }}</td>
          <td><button class="delete-hosting btn btn-danger">Delete</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal hide" id="modal-delete-hosting"> 
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Delete Hosting</h3>
    </div>
    <div class="modal-body">
      Are you sure to delete this hosting package?
    </div>
    <div class="modal-footer">
      <form method="POST">
        <button type="submit" id="delete-hosting-confirm" name="delete-hosting" class="btn btn-danger">Confirm</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </form>
    </div>
  </div>
{% endblock %}
