html, body, header, #wrapper, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align:baseline;
background: transparent;
}
body {
  background: #f5f5f5;
  padding-bottom: 20px;
  line-height:1;
  font: 14px Arial;
}
#wrapper{
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-shadow: #888 0px 2px 10px;
  -moz-box-shadow: #888 0px 2px 10px;
  box-shadow: #888 0px 2px 10px;
  background: #ffffff;  
}
a {
  text-decoration: none; 
  outline: none; 
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
header h1 {  
  width: 1000px;
  margin: 0 auto;
  #border: 1px solid #ccc;
  padding: 10px 0;
}
header h1 a {
  display: inline-block; 
  height:86px; 
  width:155px; 
  background: url(logo.png);
  margin: 10px 20px;
  
}
header #login {
  font-size: 14px;
  font-weight: normal;
  color: #555;
  #position: absolute;
  margin-top: -100px;
  margin-right: 10px;
  float:right;
}
header #login input[type="text"], header #login input[type="password"] {
  margin: 0;
  padding: 0 2px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-top: 1px solid #C0C0C0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  width: 120px;
  height: 25px;
  margin-right: 10px;
}
header #login input[type="submit"] {
  font-size: 14px;
  cursor: pointer;
  #margin-right: 5px;  
  padding: 4px 12px;
  border:1px #D9D9D9 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:#4D90FE;
  background-image:-webkit-linear-gradient(top, #4D90FE, #4787ED);
  border-bottom-color:#3079ED;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#3079ED;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#3079ED;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#3079ED;
  border-top-style:solid;
  border-top-width:1px;
  color:#FFFFFF;
  text-shadow:rgba(0, 0, 0, 0.0976563) 0 1px;  
}
header .notloggedin a {
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 3px 0;
}
header #login #register {
  padding-right:5px;
  margin-right: 5px;
  border-right: 1px solid #ccc;  
}
header #login .loggedin {
  border-left: 1px solid #ccc;
  padding-left: 5px;  
}
header #login .loggedin a {
  cursor: pointer;
  color: #555;  
}
header nav {
  background: #F2F2F2;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F2F2F2), to(#CCCCCC));
background: -webkit-linear-gradient(#F2F2F2, #CCCCCC);
background: -moz-linear-gradient(#F2F2F2, #CCCCCC);
background: -ms-linear-gradient(#F2F2F2, #CCCCCC);
background: -o-linear-gradient(#F2F2F2, #CCCCCC);
background: linear-gradient(#F2F2F2, #CCCCCC);
-pie-background: linear-gradient(#F2F2F2, #CCCCCC);
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fff;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  -webkit-box-shadow: #bbb 0px 3px 8px;
  -moz-box-shadow: #bbb 0px 3px 8px;
  box-shadow: #bbb 0px 3px 8px;
}
header ul {
}
header ul li, header ul li a {
  display: inline-block;
  color: #555;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
header ul .normal a {
  padding: 12px 24px;
  border-right: 1px solid #AAA;
  border-left: 1px solid #FFF;
}
header ul #right a{
  padding: 12px 0;
  border-left: 1px solid #FFF;
}
header ul li {
  margin-left: 0;
  margin-right: -4px;    
}
header ul a:hover {
  background: #E5E5E5;
  -webkit-box-shadow: #BBB 0px -2px 8px inset;
-moz-box-shadow: #BBB 0px -2px 8px inset;
box-shadow: #BBB 0px -2px 8px inset;  
}
#content {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;  
}
#content #slide {
  #border: 1px solid #ccc;
  padding: 1px 0 0 70px;
  color: #EEE;
  height: 279px;
  margin-bottom: 20px;
  margin-left: 10px;
  background: url(banner.png);
  background-repeat: no-repeat;
}
#content #slide h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}
#content #slide p {
  margin-top: 10px;
}
#content #slide p span {
  vertical-align: middle;
  background: url(tick.png) no-repeat;
}
#content #slide h3 {
  color: #fff;
  font-size: 23px;
  float: right;  
  margin-top: -120px;
  margin-right: 65px;
}
.plans {
  font-size: 14px;
  float: left;
  text-align: center;
  margin: 20px 23px;  
  color: #555;
  width: 284px;
}
.plans h3 {  
  color: #555;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;  
  background: #F2F2F2;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F2F2F2), to(#CCCCCC));
  background: -webkit-linear-gradient(#F2F2F2, #CCCCCC);
  background: -moz-linear-gradient(#F2F2F2, #CCCCCC);
  background: -ms-linear-gradient(#F2F2F2, #CCCCCC);
  background: -o-linear-gradient(#F2F2F2, #CCCCCC);
  background: linear-gradient(#F2F2F2, #CCCCCC);
  -pie-background: linear-gradient(#F2F2F2, #CCCCCC);
}

.plans ul {
}
.plans li {  
  padding: 10px 20px;
background: #FEFEFE;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#F2F2F2));
background: -webkit-linear-gradient(#FEFEFE, #F2F2F2);
background: -moz-linear-gradient(#FEFEFE, #F2F2F2);
background: -ms-linear-gradient(#FEFEFE, #F2F2F2);
background: -o-linear-gradient(#FEFEFE, #F2F2F2);
background: linear-gradient(#FEFEFE, #F2F2F2);
-pie-background: linear-gradient(#FEFEFE, #F2F2F2);
}
.plans p {
  font-size: 16px;
  color: #D1000E;
  margin: 10px 0 0 0;  
}
.plans p span {
  font-size: 30px;
  margin-right: 5px;  
}
.plans .under {
  border-bottom: 1px solid #ccc;  
}
.plans .bottom {
  font-size: 20px;  
}
.plans .more {  
  padding: 20px 0;
}
.plans a {  
  cursor: pointer;
  margin-right: 5px;  
  padding: 6px 12px;
  border:1px #D9D9D9 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:#4D90FE;
  background-image:-webkit-linear-gradient(top, #4D90FE, #4787ED);
  border-bottom-color:#3079ED;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#3079ED;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#3079ED;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#3079ED;
  border-top-style:solid;
  border-top-width:1px;
  color:#FFFFFF;
  text-shadow:rgba(0, 0, 0, 0.0976563) 0 1px;  
}
.plans{
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: #ccc 0px 2px 3px;
-moz-box-shadow: #ccc 0px 2px 3px;
box-shadow: #ccc 0px 2px 3px;
}
#plan1 {
  border-top: 5px solid #75D0FF;  
}
#plan2 {
  border-top: 5px solid #81CC00;  
}
#plan3 {
  border-top: 5px solid #FF8C29;  
}
.clear {
  clear: both;  
}
#chooseus {
  margin-top: 20px;
  #height: 50px;
  border-top: 1px solid #ccc;  
}
#chooseus h2 {
  font-size: 16px;
  color: #3079ED;  
  margin-top: 20px;
  margin-bottom: 30px;  
}
#chooseus h3 {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}
#chooseus td {
  font-size: 14px;
  color: #555;
  width: 500px;
  height: 100px;
  vertical-align: baseline;
  padding-left: 60px;  
  padding-right: 60px;
  padding-bottom: 30px;
}
#chooseus #uptime{
  background: url(uptime.png);
  background-repeat: no-repeat;  
}
#chooseus #oneclick {
  background: url(oneclick.png);
  background-repeat: no-repeat;
}
#chooseus #cp {
  background: url(cp.png);
  background-repeat: no-repeat;
}
#chooseus #support {
  background: url(support.png);
  background-repeat: no-repeat;
}
#chooseus #instant {
  background: url(instant.png);
  background-repeat: no-repeat;
}
#chooseus #record {
  background: url(record.png);
  background-repeat: no-repeat;
}
#chooseus p {
  font: 14px/1.5 Arial;
}
#banner ul{
  padding: 10px 0;
  margin: 0;
  margin-top: 20px;
  border: 1px solid #ccc;
}
#banner li {
  float: left;
  margin: 0 9px;  
}
#banner #centos {
  width: 135px;
  height: 42px;
  background: url(centos-logo.png);   
}
#banner #wordpress {
  width: 185px;
  height: 42px;
  background: url(wordpress-logo.png);   
}
#banner #aws {
  width: 115px;
  height: 42px;
  background: url(aws-logo.png);   
}
#banner #mysql {
  width: 81px;
  height: 42px;
  background: url(mysql-logo.png);   
}
#banner #php {
  width: 80px;
  height: 42px;
  background: url(php-logo.png);   
}
#banner #python {
  width: 140px;
  height: 42px;
  background: url(python-logo.png);   
}
#banner #rails {
  width: 35px;
  height: 42px;
  background: url(rails-logo.png);   
}
#banner #perl {
  width: 81px;
  height: 42px;
  background: url(perl-logo.png);   
}
#content #needlogin {
  #border: 1px solid #ccc;
  height: 300px;
  width: 700px;
  float: left;  
}
#content #needlogin h3 {
  margin-top: 30px;
  margin-left: 50px;
  color: #4D90FE;   
}
.login
{
  padding:30px;
  background: -webkit-linear-gradient(#F5F5F5, #F1F1F1);
  background: -moz-linear-gradient(#F5F5F5, #F1F1F1);
  background: -ms-linear-gradient(#F5F5F5, #F1F1F1);
  background: -o-linear-gradient(#F5F5F5, #F1F1F1);
  background: linear-gradient(#F5F5F5, #F1F1F1);
  border:1px #D9D9D9 solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float:right;
}

.login p
{
  margin-bottom:5px;
}

.login input
{
  margin-bottom:20px;
}

.login input[type="checkbox"]
{
  margin-left: 25px;
}

.login input[type="submit"]
{
  padding: 6px 12px;
  background-color:#4D90FE;
  background-image:-webkit-linear-gradient(top, #4D90FE, #4787ED);
  border-bottom-color:#3079ED;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#3079ED;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#3079ED;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#3079ED;
  border-top-style:solid;
  border-top-width:1px;
  color:#FFFFFF;
  text-shadow:rgba(0, 0, 0, 0.0976563) 0 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.login label
{
  margin-left:6px;
  font-size:12px;
  line-height:10px;
  height:10px;
}

.login h3
{
  margin-bottom:30px;
}
.login input[type="text"], input[type="password"]
{
  padding:0 5px;
  border:1px #D9D9D9 solid;
  border-top-color:#C0C0C0;
  height:27px;
  #line-height:27px;
  width:200px;
}
#content #sidemenu {
  padding: 0 20px;
  position:absolute;
  width: 220px;
  height: 1000px;
  #border: 1px solid #ccc;  
  #z-index:1;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
  background: #eee;
}
#content #sidemenu ul li {
  height: 33px;  
  margin-top: 5px;
  dipaly:block;
}
.user_index {
  width: 797px;
  height: 1000px;
}
#content #main {
  border: 1px solid #ccc;
  width: 737px;
  height: 1000px;  
  background: #FEFEFE;
  margin-left: 259px;
  -webkit-box-shadow: #666 -2px 0px 10px;
  -moz-box-shadow: #666 -2px 0px 10px;
  box-shadow: #666 -2px 0px 10px;
  position:absolute;
  z-index: 2;
}
#content #sidemenu ul {
  margin-top: 16px;  
}
#content #sidemenu a {
  color: #333;
  padding: 0 30px;
  line-height:33px;
  border-radius: 4px;
  display: block;
}
#content #sidemenu a:hover{ 
  color: #5080D8;  
}
#content #sidemenu #focus a {
  font-weight:bold;
  position:relative;
  z-index:3;
  background: #5080D8;
  text-shadow: 0px -1px rgba(0,0,0,0.2);
  color: #fff;
}
footer {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1px solid #ccc;  
}
#footer {    
  padding: 20px;
}
footer ul {
  float: left;  
}
footer #copyright {
  float: right;
}
